[2017-04-23 16:03] jomarip opened #39 "Recovery of wallet address Bug"
After recovery of a wallet address use the hex seed or recovery words, the wallet address starts working through the keys from the initial key pair. Thus, it will not pass any transactions until all the old keys are reused.
E.g. I used my address to send 60 transaction then started a new node. If I use the recover function I would have to attempt 60 transactions before I reach a new usable signatu

[2017-04-23 16:27] surg0r commented on #39
A simple fix could be to count the number of public keys in the state-db stored with the xmss address, then simply select the OTS index based upon that during recovery or if there is an error with OTS signing.

[2017-05-21 08:16] jomarip opened #66 "Wallet Recoverfromhexseed v.06"
I synced the node and opened the wallet with Putty. Localhost Port 2000.

Fist I used the command Wallet. This worked fine and displayed 0 balance. Then I typed recoverfromhexseed so I could make sure I could recover my wallet. Then Putty force closed and this message appeared within the Node printout

`4cec30d4ed899253c1d2860b0975899b2fc6e609c255d2bf413a9290c48ba8d2
Unhandled Error
Traceback (mos

[2017-05-26 10:23] #66 closed, assigned to nobody

[2017-06-14 13:18] jupiter126 opened #86 "Testnet or not testnet?"
So I carefully read and applied the pdf, and got the node runnig in gentoo.
What bothers me, is that at the end of the pdf it is written to contact to get fake money.  Is this wallet still a testnet wallet, or can I safely transfer some "real" quantas out of an exchange, and into that wallet?

[2017-06-14 13:25] surg0r commented on #86
The value is currently floating on ERC20 tokens atop the eth mainnet. We
will migrate tokens to our QRL mainnet upon launch.

Testnet is for testing purposes and never carries monetary value.

For testnet coins once public testnet is back up head to slack.theqrl.org

Kindest regards,

Peter

On 14 Jun 2017 2:18 p.m., "jupiter126" <notifications@github.com> wrote:

[2017-06-14 13:38] jupiter126 commented on #86
So this would confirm that I should not transfer my QRL coins from bittrex to the address I see in the wallet from this git

[2017-06-14 13:41] surg0r commented on #86
Correct!

On 14 Jun 2017 2:38 p.m., "jupiter126" <notifications@github.com> wrote:

[2017-06-14 13:42] surg0r commented on #86
Correct!

On 14 Jun 2017 2:38 p.m., "jupiter126" <notifications@github.com> wrote:

So this would confirm that I should not transfer my QRL coins from bittrex
to the address I see in the wallet from this git

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/theQRL/QRL/issues/86#issuecomment-308433652>, or mute
the thread
<https://

[2017-06-14 13:45] jupiter126 commented on #86
Thanks a lot for rapid and precise answer ;)

[2017-06-15 19:17] ChrisCates opened #87 "How do Merkle Trees beat Quantum Superposition?"
🙈 It's a hash tree with a traditional SHA-256 Algorithm...

[2017-06-15 19:26] surg0r commented on #87
I suggest you read this paper describing an early version of the signature scheme we have adopted for preserving security of our account addresses:

https://eprint.iacr.org/2011/484.pdf

We only use SHA-2 256 for convenience in our test node code. For our mainnet we will likely use SHA-3 512.

Kindest regards,

Peter

[2017-06-15 19:35] ChrisCates commented on #87
How can anything be Quantum Resistant without using QuBits themselves? While SHA-3 512 does persist more bits. Anyone who has access to more than one QuBit can shift to any Endian structure with **zero time complexity**. There is **NO BIG O** in quantum computing. Ontop of that ONLY 2 Qubits is required due to the ability to **utilize Quantum Entanglement**. Enabling it to be an **infinite amount

[2017-06-15 20:10] ghost commented on #87
Quantum computers are not magical machines, they cannot enable an "infinite amount of bytes out of 2 qubits". I think you have some misinterpretation of what qubits and quantum computers can do, they are an extensively studied subject and follow certain rules like a classical computer does (although different rules).

There is a big O notation in quantum algorithms, and there are solid upper bound

[2017-06-15 20:16] ChrisCates commented on #87
How does IBM Q's representation of QuBits have any real representation in respect to Quantum Computing? They literally just slapped linear algebra on a web app.

https://quantumexperience.ng.bluemix.net/qx/tutorial?sectionId=c59b3710b928891a1420190148a72cce&pageIndex=0

[2017-06-15 20:25] ghost commented on #87
I don't fully understand your question. To understand quantum computing, linear algebra is indeed important.  I think that link is a good starting point to learn some of the basic principles.

[2017-06-15 22:25] QuinnWilton commented on #87
I'm not familiar with this project, but using qubits isn't a requirement for post-quantum cryptosystems. For example, two major contenders for replacing RSA / ECC are SIDH and lattice based crypto, neither of which rely on the use of qubits.

[2017-06-16 03:30] ChrisCates commented on #87
@ShaneWilton WOW SIDH! Now that's something that is truly exceptional.
Of all people to know this, an INFOSEC GOAT like you would mention this.

Is there any better learning resources for Supersingularity concepts? I do need some time to wrap my head around this.

[2017-06-16 05:01] #86 closed, assigned to surg0r

[2017-06-17 14:39] EcmaXp opened #88 "Why not python3?"
Comment is same as title.

Check the https://pythonclock.org/
You can 2 year and 9 month are lefted for supporting python 2.7

`2to3` tool may help porting 2.7 to 3.x, try use!

Python 3.x support library
- [x] python-dev
- [x] jsonpickle
- [x] leveldb
- [x] beautifulsoup4
- [x] blessings
- [x] statistics (yes, that was a python 3.x module; backported!)
- [x] service_identity
- [x] ntplib

I think

[2017-06-23 23:52] etale-cohomology commented on #87
There _is_ Big O (ie. [time-space complexity](https://en.wikipedia.org/wiki/Quantum_complexity_theory)) in quantum computing. And to understand quantum mechanics one needs to know not only [linear algebra](https://en.wikipedia.org/wiki/Linear_algebra), but also [functional analysis](https://en.wikipedia.org/wiki/Functional_analysis) on [Hilbert spaces](https://en.wikipedia.org/wiki/Hilbert_space)

[2017-07-13 21:25] surg0r commented on #88
Thanks we are migrating to python 3

[2017-07-13 21:41] juharris commented on #88
Damn you stole my plan to mine faster than everyone else :P

[2017-08-08 07:39] sammy007 commented on #88
Why python?

[2017-09-09 08:59] #87 closed, assigned to nobody

[2017-09-09 09:01] surg0r commented on #39
We are moving to a system where the wallet OTS number can be identified from the blockchain data. This will then not be a problem going forward.

[2017-09-09 09:01] #39 closed, assigned to nobody

[2017-09-11 07:10] jleni commented on #88
@sammy007 We are currently working on moving critical code to C/C++
@EcmaXp The migration to python3 will happen very soon

[2017-09-11 08:38] sammy007 commented on #88
June 2017

Skeleton waiting.

[2017-09-27 11:22] bitcoinsSG opened #267 "request to create dev branches and release tags for codebase"
Incorporation of best practices for mission critical elements like the core codebase is due IMO.

[2017-09-28 09:51] jleni commented on #267
Hi @bitcoinsSG,
Thanks for the observation! What you are suggesting is already taking place.There is clearly still a lot of work to do but these concepts are not new to us and we are very much aware of ALM practices.

A quick summary of where we are:

Core code is moving to a tighter C/C++ library that will be shared by other componets. We are already tagging, releasing, automatically deploying, e

[2017-09-30 21:37] jleni opened #301 "Raspberry Pi installation problems"
sphinx forces additional requirements such as:

such as alabaster, commonmark, etc.

[2017-10-01 09:56] jupiter126 opened #303 "savenewaddress allows to save the same address many times"
To reproduce condition:
1. use getnewaddress to generate new address
2. use savenewaddress multiple times, it will save the same one multiple times

[2017-10-01 09:57] jupiter126 opened #304 "Staking first address in wallet only"
I can not stake for addresses other than the first one in wallet.

[2017-10-01 10:03] jleni commented on #88
The project has now been ported to python3 and the C++ library has been integrated.

[2017-10-01 10:03] #88 closed, assigned to jleni

[2017-10-01 10:25] jleni opened #305 "Snyk vulnerability analysis badge is not working"
The snyk badge is not working, though, the reviews are working well for PRs.
I have already opened a ticket with Snyk and we are waiting for an answer from their engineering team.

[2017-10-01 10:33] jleni opened #306 "Windows native support"
The current release is not supported in Windows.

This is linked to this issue in qrllib:  https://github.com/theQRL/qrllib/issues/38

The official Docker container also has problems in Windows.

For the moment, the use of VMs such as virtualbox or VmWare is recommended.

[2017-10-01 11:05] jleni commented on #301
Requirements have been split and sphinx is not installed anymore by default

[2017-10-01 11:05] #301 closed, assigned to nobody

[2017-10-02 09:19] FL-Riko opened #309 "0.51.x telnet command "send""
send 0 0 10 0 lead to an error

[2017-10-02 09:20] FL-Riko opened #310 "Crtitical Error withTwisted lib"
2017-10-01 19:06:28,173 |synced| INFO : 104.251.219.215 peers data received: ['104.237.3.184', '104.251.219.145', '104.237.3.185', '104.251.219.40', '187.205.233.48', '75.8.77.11', '74.104.141.84', '108.226.196.132', '108.233.73.175', '192.222.211.183', '162.195.105.154', '187.149.33.128', '94.102.63.214', '91.7.178.160', '185.148.185.1'] 2017-10-01 19:06:28,332 |synced| INFO : >>>Blockheight from

[2017-10-02 09:25] jleni commented on #303
This will probably change a lot in the next week so it makes sense to delay fixing. It is likely that the new implmentation will fix this.

[2017-10-02 12:14] converghub opened #312 ""No package 'libffi' found" error during "pip3 install -r requirements.txt" on Raspberry Pi3"
When I tried to `sudo pip3 install -r requirements.txt` , I got an error saying "Package libffi was not found."
RP3 users should install libffi-dev, like `$ sudo apt-get install libffi-dev` IMO.

Logs are followings:
[code]
[code]

[2017-10-02 12:17] jleni commented on #312
Thanks @converghub for opening this issue!
This had already been corrected and libffi-dev is already included in the instructionsf for raspberry pi.

[2017-10-02 12:17] #312 closed, assigned to nobody

[2017-10-02 12:27] cyyber commented on #310
Fixed in PR #314

[2017-10-02 12:27] #310 closed, assigned to cyyber

[2017-10-02 12:29] jleni commented on #267
Closing due to inactivity. Please feel free to comment and we can reopen.

[2017-10-02 12:29] #267 closed, assigned to jleni

[2017-10-02 12:34] randomshinichi opened #315 "walletprotocol: 'search' when Qaddress has txns, it fails trying to cast list to bytes"
Telnet: search Q871011bfa3d8fb9e41c8b59904a116c31a028bab1eadcf5711e64b3445869034d6769cab
(Genesis address with transactions)

In Chain.search_address()
[code]

my_txn is a list of lists, and txn_hash is a list. However, self.state.db.get() expects something which can be cast to bytes:

[code]

So when key_obj is a list, line 3 fails.

[2017-10-02 15:03] FL-Riko opened #317 "0.52.2a telnet command send (2nd error)"
Send does not work for normal usage
telnet: send 0  430b5ac9c10d194119436d35742cca827b5ef523110766553392973ad18f9c75c4c27cfe 1.1 0

Error:
2017-10-02 16:56:43,508 |synced| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/pi/.local/lib/python3.5/site-packages/twisted/python/log.py", line 103, in callWithLogger
    return callWithContext({"system": lp}, func, *ar

[2017-10-02 15:11] FL-Riko commented on #309
Fat fingers error, hit the wrong button and closed the ticket
Error occurs shortly before block 3800, before my node create one successfully stake

[2017-10-02 23:06] fr1t2 commented on #317
I also found this bug after creating a new address `getnewaddress` then `savenewaddress`
New wallet created fine, when I send 100 qrl from wallet '0' to '1' it gives the following error:

0['Q3605e34c94ca833a2d6e80137eb11414abace2723e5ad7b61d3c954b85c90741bdae01da', 'type:', 'XMSS', 'balance: 123.05456959 (123.05456959)', 'nonce:14 (14)', 'signatures left: 1006 (1006/1024)']
1['Q615b4243589354592e

[2017-10-02 23:12] fr1t2 opened #318 "telnet "search" closing connection | CRITICAL : [TWISTED] Unhandled Error"
searching for Q'address in telnet gives CRITICAL : [TWISTED] Unhandled Error | 'Chain' object has no attribute 'search_txhash'

$ telnet localhost 2000

getinfo

search Q3605e34c94ca833a2d6e80137eb11414abace2723e5ad7b61d3c954b85c90741bdae01da
Connection closed by foreign host.
---------------------------~/.qrl/qrl.log -------------------------------------

2017-10-02 23:06:45,962 |synced| INFO : [

[2017-10-02 23:27] fr1t2 opened #320 "recoverfromhexseed gives CRITICAL : [TWISTED] Unhandled Error"
Attempting to recover a wallet from hex seed gives the following error in telnet:

ubuntu@ip-172-31-23-129:~$ telnet localhost 2000
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
QRL node connection established. Try starting with "help" getinfo

recoverfromhexseed 821cfa30e31b29beab2fd46fdca3d1495a6f29152887c668fa7f49fb9fca74852da675108ca37571010504bb1106e9c4
Connection clos

[2017-10-02 23:36] fr1t2 commented on #320
same issue when attempting to `recoverfromwords` is issued into telnet session

qrl.log reads this error:

2017-10-02 23:34:39,080 |synced| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python3.5/site-packages/twisted/python/log.py", line 103, in callWithLogger
    return callWithContext({"system": lp}, func, *args, **kw)
  File "/home/ubun

[2017-10-03 06:11] jleni commented on #305
Snyk has fixed the problem. Closing the ticket.

[2017-10-03 06:11] #305 closed, assigned to nobody

[2017-10-03 09:04] FL-Riko opened #321 "0.52.2a mnemonic file"
wallet recovery with mnemonic file does not work
there got no error only two times the data path and wallet path output
and finally a new adress

output:
2017-10-03 09:29:46,622 |unsynced| DEBUG : =====================================================================================
2017-10-03 09:29:46,627 |unsynced| INFO : Data Path: /home/pi/.qrl/data
2017-10-03 09:29:46,632 |unsynced| INFO : Wal

[2017-10-03 09:11] scottdonaldau commented on #321
The mnemonic file is no longer used, and has been replaced by the mnemonic phrase being stored inside the wallet.json file.

[2017-10-03 09:11] #321 closed, assigned to nobody

[2017-10-03 09:41] jupiter126 opened #322 "control - C on telnet sessions gives |synced| CRITICAL : [TWISTED] Unhandled Error"
2017-10-03 11:34:34,916 |synced| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/jupiter/miniconda3/lib/python3.6/site-packages/twisted/python/log.py", line 103, in callWithLogger return callWithContext({"system": lp}, func, *args, **kw)
  File "/home/jupiter/miniconda3/lib/python3.6/site-packages/twisted/python/log.py", line 86, in callWithContext return cont

[2017-10-03 16:27] FL-Riko opened #323 "0.52.2a fresh node has high chance to create forked blockchain"
- create node with fresh codebase and fresh wallet adress
- load chain up to blockheight 7327 and node changed to status "synced"
- since block 7443 my node forked
- currently blockheight is 7563
i checked git pull again and is still actual codebase

I noticed this "fork behavior" at least 3 times.

[2017-10-03 20:15] cyyber commented on #323
From the log provided by @FL-Riko,<del> it is clear that he had an internet issue for more than 2 minutes.</del>
2017-10-03 16:46:39,212 |synced| WARNING : verify_BK_hash Failed due to prevheaderhash mismatch, blockslen 6
2017-10-03 16:48:47,122 |synced| INFO : <<<Transmitting ST: 74
As these 2 logs line shows, that after 16:46:39, he received next data at 16:48:47. <del>This must be because of so

[2017-10-03 20:48] surg0r commented on #323
This is the final piece of the POS protocol to be completed with the latest POS algorithm update.

Solid reliable fork recovery and chain block buffer reorganisation is critical to a stable release.

A fix is coming soon.

[2017-10-04 10:06] cyyber commented on #323
After looking into log provided by @randomusergenerator . I found that same problem happen with his Raspberry PI. Further investigating into logs, I found its taking around 2 minutes, to create the ST TXN, which freezes the node for 2 minutes.

Reason, during ST txn, slave XMSS is being created with tree height 10, which must be taking around 2 minutes.

[2017-10-05 12:34] jleni commented on #323
I released a new qrllib with a feature that may help here. We will be integrating this into QRL today/tomorrow.

[2017-10-05 15:40] jleni commented on #317
@randomshinichi It is possible that PR #325 fixed this problem

[2017-10-05 15:41] jleni commented on #309
@randomshinichi It is possible that PR #325 fixed this problem

[2017-10-05 15:41] jleni commented on #318
@randomshinichi It is possible that PR #325 fixed this problem

[2017-10-05 15:41] jleni commented on #320
@randomshinichi It is possible that PR #325 fixed this problem

[2017-10-05 15:52] randomshinichi commented on #320
While testing out the commands around the time that this issue was filed, I never encountered this problem.

Hmm, it certainly fails on master currently, but it works in my branch. Must've been introduced in some commit in between. Anyway it's gone now...

[code]

[2017-10-05 15:56] randomshinichi commented on #318
Nope, it hasn't...

[2017-10-05 15:58] randomshinichi commented on #317
Yes, I remember encountering this error. It's fixed.

[2017-10-05 15:58] #317 closed, assigned to nobody

[2017-10-05 15:59] randomshinichi commented on #309
Nope, not fixed

[2017-10-05 15:59] jleni commented on #320
I am closing now. We reopen or someone will create another issue if reappears

[2017-10-05 15:59] #320 closed, assigned to nobody

[2017-10-05 16:02] jleni commented on #309
Adding call stack:

2017-10-05 18:01:05,316 |syncing| ERROR : get_stxn_state blocknum not found in blocks 4266
2017-10-05 18:01:05,317 |syncing| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/lenij/anaconda3/envs/qrl3/lib/python3.6/site-packages/twisted/python/log.py", line 103, in callWithLogger
    return callWithContext({"system": lp}, func, *args, **kw)

[2017-10-05 16:04] jleni commented on #309
At least the crash I had seems like an easy fix. While the node is syncing, self.blocks is empty.
wallet should not allow sending until the node is in sync.

[2017-10-06 09:10] ghost opened #328 "Dependency problem: pyasn1 is not available"
**All deps seem to be installed.**

:~/QRL# pip3 install -r requirements.txt
Requirement already satisfied: jsonpickle>=0.9.5 in /usr/local/lib/python3.5/dist-packages (from -r requirements.txt (line 2))
Requirement already satisfied: leveldb>=0.19 in /usr/local/lib/python3.5/dist-packages (from -r requirements.txt (line 3))
Requirement already satisfied: statistics>=1.0.3.5 in /usr/local/lib/pyth

[2017-10-06 09:12] jleni commented on #328
You are installing with `pip3` (python 3) and running with python (python 2).

use `python3 start_qrl.py` instead

python (python 2) does not find the package, because it does not exist for python 2.

I agree that we could show an error saying `Python2 is not supported` or similar

[2017-10-06 09:15] ghost commented on #328
:~/QRL#  python3 start_qrl.py
dependencies not satisfied, run [pip3 install -r requirements.txt] first.
 (pyasn1 0.1.9 (/usr/lib/python3/dist-packages), Requirement.parse('pyasn1<0.4.0,>=0.3.4'), {'pyasn1-modules'})

[2017-10-06 09:17] jleni commented on #328
Ok, that is different...  something is looking for pyasn1..
I will keep this open for investigation.

if you want to move forward, run `pip3 install pyasn1`

[2017-10-06 09:19] jleni commented on #328
which operating system are you using?

[2017-10-06 09:22] ghost commented on #328
root@666:~/QRL# uname -a
Linux vps143664 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

root@vps143664:~/QRL# cat /etc/*-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"
NAME="Ubuntu"
VERSION="16.04.3 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.3 LTS"
VERSION_ID

[2017-10-06 09:24] ghost commented on #328
Oke, so i reinstalled that pip package and node started without any problems.
Fixed.

[2017-10-06 09:25] jleni commented on #328
Yes, you were using 0.1.9 and I locally have 0.3.6

Probably I should have asked you to upgrade.
`pip3 install -U pyasn1`

[2017-10-06 09:25] #328 closed, assigned to jleni

[2017-10-06 16:43] FL-Riko commented on #323
created new node with codebase based on 5.10.2017 19:05
forked again shortly after synced status reached

[2017-10-06 16:44] FL-Riko opened #330 "0.52.2a Error in P2P Protocol.py"
2017-10-06 18:43:37,118 |synced| ERROR : Traceback (most recent call last):
  File "/home/pi/QRL/qrl/core/p2pprotocol.py", line 962, in parse_buffer
    tmp2 = hstr2bin(tmp.decode())
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfa in position 3: invalid start byte

2017-10-06 18:43:37,122 |synced| INFO : Struct.unpack error attempting to decipher msg length..

[2017-10-06 18:19] FL-Riko opened #331 "http://qrlexplorer.info shows wrong amount"
http://qrlexplorer.info/block/11654

block 11653 should show 100 qrl not 1 qrl

[2017-10-06 18:23] cyyber commented on #331
Did you made txn of 1 QRL to 100 QRL?

[2017-10-07 13:35] randomshinichi opened #332 "telnet: wallet command crashes"
Seems to be a new problem, never had this before git pulling today.
[code]

[2017-10-07 13:38] jleni commented on #332
It is fixed already. I can cherry-pick and push if this is blocking you.

[2017-10-07 13:39] randomshinichi commented on #332
Yes, please do that.

[2017-10-07 14:38] converghub opened #333 "|synced| CRITICAL : [TWISTED] Unhandled Error, and one more"
I got this error, and after a while got another one.

The first one:
[code]

The second one:
[code]

Here is the log file.
https://transfer.sh/eAXmF/qrl.log

[2017-10-07 15:22] jleni commented on #333
The first issue is fixed by PR #335

[2017-10-07 16:00] FL-Riko commented on #331
transaction was about 100 QRL

[2017-10-07 16:06] cyyber commented on #330
I will add the fix for that.

[2017-10-07 16:23] FL-Riko opened #336 "0.52.2a wallet command crashes again, leads to block rejected"
fresh codebase git pull
command wallet during sync leads to following new error
shortly after a block was rejected

2017-10-07 18:17:26,965 |syncing| INFO : <<<Fetching block: 120 from 104.237.3.185:9000
2017-10-07 18:17:27,096 |syncing| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/pi/.local/lib/python3.5/site-packages/twisted/python/log.py", line 103, in c

[2017-10-07 16:25] jleni commented on #336
Thanks FL-Riko. I was looking at that problem right now.

[2017-10-07 22:03] jleni commented on #333
@cyyber You can take over the second one here

[2017-10-07 22:17] jleni commented on #323
PR #337 is likely to fix this problem. We will keep the issue open a few more days until this can be confirmed

[2017-10-08 08:37] jleni commented on #332
The original problem was fixed by PR #334
A problem that appears later was fixed by PR #339

[2017-10-08 08:37] #332 closed, assigned to jleni

[2017-10-08 08:38] jleni commented on #336
This problem is fixed by PR #339

[2017-10-08 08:38] #336 closed, assigned to jleni

[2017-10-08 17:30] cyyber commented on #331
Issue Fixed | PR #342

[2017-10-08 17:30] #331 closed, assigned to cyyber

[2017-10-08 19:00] cyyber commented on #333
Second issue has been fixed by PR #344

[2017-10-08 19:00] #333 closed, assigned to cyyber

[2017-10-08 22:33] jleni commented on #315
Fixed in PR #345

[2017-10-08 22:33] #315 closed, assigned to randomshinichi

[2017-10-08 22:45] jleni commented on #318
Fixed in PR #345

[2017-10-08 22:45] #318 closed, assigned to nobody

[2017-10-08 23:05] cyyber commented on #330
PR #346 includes the fix for this issue.

[2017-10-08 23:05] #330 closed, assigned to cyyber

[2017-10-09 04:38] converghub opened #347 "telnet: command crashes"
When I use "getinfo" and "wallet" commands, I got following errors with the latest codebase.
Here is the log file's link. => https://transfer.sh/O1Nct/qrl.log
[code]

[2017-10-09 05:47] jleni commented on #347
I have fixes for these two in the grpc branch

Not sure about this one

It really looks like a reference to very old code (@cyyber ?)

[2017-10-09 05:58] jleni opened #348 "ERROR : executing [BK] KeyError: 'Qe...'"
2017-10-09 07:57:23,882 |synced| INFO : >>>Received block from 104.251.219.215:9000 18203 Qada446e9ac25b11299e0615de8bd1b7f5404ce0052fbb27db7ada425904a5aea6063deb3
2017-10-09 07:57:23,887 |synced| ERROR : executing [BK]
2017-10-09 07:57:23,891 |synced| ERROR : Traceback (most recent call last):
  File "/home/lenij/crypto/QRL/qrl/core/p2pprotocol.py", line 75, in parse_msg
    func(jdata['data'])

[2017-10-09 07:02] cyyber commented on #347
listaddresses command was disabled and I found that it was re-enabled by @randomshinichi . So I have disabled this again and removed the function as "wallet" command is self sufficient to list addresses. PR is being tested will be committed fixing the above mentioned issues.

[2017-10-09 07:32] cyyber commented on #347
Fixed in PR #349

[2017-10-09 07:32] #347 closed, assigned to cyyber

[2017-10-09 10:11] cyyber commented on #348
Fix for this issue is being tested.

[2017-10-09 14:17] moplk opened #352 "ChainBuffer.py | TypeError: __init__() got an unexpected keyword argument 'pool_size'"
(fresh node on a raspberry pi)
[code]

[2017-10-09 18:00] cyyber commented on #352
A fix is being tested. There are still some other bugs, the fix for this bug will be included in that.

[2017-10-09 21:02] cyyber commented on #352
Please check the swig version on your node by following command
swig -version

Make sure you have SWIG Version atleast 3.0.10

[2017-10-10 14:52] moplk commented on #352
SWIG version was/is 3.0.2. Let me know if I can help test something.
[code]

[2017-10-11 16:00] jleni commented on #352
As similar issue was detected in Debian Jessie.
The updated instructions in https://github.com/theQRL/QRL/blob/master/README.md should fix your problem.

I have update the instructions and tested in Debian Jessie. Maybe after the hard-fork once testnet is running again, you can test the new instructions in Raspbian Jessie.

[2017-10-12 16:39] FL-Riko opened #374 "0.53.0a telnet wallet command"
as long grpc ist not implemented, telnet command wallet should work,

but for a unsynced node following error occurs:

2017-10-12 18:36:56,760 |syncing| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/pi/.local/lib/python3.5/site-packages/twisted/python/log.py", line 103, in callWithLogger
    return callWithContext({"system": lp}, func, *args, **kw)
  File "/

[2017-10-12 16:52] FL-Riko commented on #374
for a synced mode it works

[2017-10-12 17:25] moplk commented on #352
I think #369 fixed this for me.

My node is on a jessie based os, indeed. I tried undoing the jessie specific instructions. It seems the regular swig3.0 package works as well.

[2017-10-12 17:40] FL-Riko commented on #374
got same error from above for two adresses

[2017-10-12 18:14] jleni commented on #352
@moplk Yes, #369 fixes the problem but it is more like a workaround. By following jessie instructions we ensure that you are running newer swig and cmake versions (which bring a lot of additional fixes)

I am closing this issue.

[2017-10-12 18:14] #352 closed, assigned to jleni

[2017-10-13 18:53] FL-Riko opened #378 "0.53.0a unexpected exception leads to forked node"
2017-10-13 20:29:20,985 |synced| DEBUG : -->>FBHL called
2017-10-13 20:29:36,032 |synced| ERROR : select_best_bkmr Unexpected Exception
2017-10-13 20:29:36,035 |synced| ERROR : 'ba6a349dd90dbb94eac47ddfa827389310f988c31738d3b2a90ff6e56d85eea7'
2017-10-13 20:29:38,250 |synced| INFO : 52.220.119.253 disconnected. remainder connected: 8
2017-10-13 20:29:38,254 |synced| DEBUG : connection lost: [Failu

[2017-10-13 20:53] cyyber commented on #378
Please also provide qrl.log. You may attach it here or send me in discord.

[2017-10-14 14:31] #374 closed, assigned to nobody

[2017-10-14 18:29] FL-Riko commented on #378
error time was 2017-10-13 20:29:41,057

[2017-10-14 18:32] FL-Riko commented on #378
qrl.log via discord

[2017-10-14 18:57] cyyber commented on #378
PR #380 expected to fix the actual cause of this problem. I will keep this issue open for few more days, to ensure that you should not face this same problem again.

[2017-10-15 10:45] jleni commented on #323
Forking due to slow tree generation has been fixed and integrated. Other fork related issues should be opened as new issues. Closing this one.

[2017-10-15 10:45] #323 closed, assigned to jleni, cyyber

[2017-10-15 11:30] FL-Riko opened #385 "0.53.1a p2pprotocol, multiple error for blocknumber"
2017-10-14 23:35:30,792 |synced| DEBUG : Sending PING to 158.69.79.24:9000
2017-10-14 23:35:30,885 |synced| INFO : >>>Received block from 104.237.3.185:9000 5916 Q321551228be4c8275bc3a2665347f4b399216268bf6a704c6fd5ced5666c117105f82613
2017-10-14 23:35:31,144 |synced| DEBUG : BLOCK: 5913 epoch: 59 blocks_left: 86 nonce: 2 stake_selector Q1164abe0aeb3d8026986309ecadace30b45e0def644ecb0ba71e3491a2e8

[2017-10-15 11:33] FL-Riko commented on #385
2nd error

2017-10-15 01:04:49,002 |synced| ERROR : executing [EBHL]
2017-10-15 01:04:49,004 |synced| ERROR : Traceback (most recent call last):
  File "/home/pi/QRL/qrl/core/p2pprotocol.py", line 80, in parse_msg
    func(jdata['data'])
  File "/home/pi/QRL/qrl/core/p2pprotocol.py", line 161, in EBHL
    if blocknum_headerhash[blocknum] != block.blockheader.headerhash:
AttributeError: 'list' obje

[2017-10-15 11:37] FL-Riko commented on #385
finally node get a forked one

qrl.log via discord

[2017-10-20 08:25] cyyber commented on #348
Issue fixed in PR #434

[2017-10-20 08:25] #348 closed, assigned to cyyber

[2017-10-20 11:39] cyyber commented on #378
PR #380 tested and is working fine. No ping timeout has been noticed which was causing fork.

[2017-10-20 11:39] #378 closed, assigned to cyyber

[2017-10-21 16:31] ericjarvies opened #455 "Build problems on OS X with wallet and runtime error with QRL"
How exactly would you like me to report on the run time errors?  Too many of them to copy and paste here (exceptions, failed to parse this and that, etc.).

[2017-10-21 16:32] cyyber commented on #455
You may share the qrl.log to us via discord

[2017-10-21 16:49] cyyber commented on #455
Your log shows that you cloned from the master branch which is under development. Please clone from 0.53.1a branch using the following command.
git clone https://github.com/theQRL/QRL --branch 0.53.1a

[2017-10-21 16:49] #455 closed, assigned to cyyber

[2017-10-23 07:59] ubidefeo opened #468 "Fails to compile on Mac OS 10.12.6"
I have Python 3.6.3 via PyEnv and tried the install process with `sudo pip3 install -r requirements.txt`.
The process fails when `PYTHON_LIBRARIES` and `PYTHON_INCLUDE_DIRS`are not found, and think they should be added to` CMakeLists.txt` of qrllib, but this is installed via `requirements.txt`.

Is there a way I can specify them in the QRL setup?
Should I attempt to just download/install qrllib se

[2017-10-23 08:23] jleni commented on #468
Hi @ubidefeo
qrllib is using `find_package(PythonLibs 3.4 REQUIRED)` [(cmake's FindPythonLibs)](https://cmake.org/cmake/help/v3.0/module/FindPythonLibs.html) to detect python development libraries. These two should have been set. Are you sure you have the python development headers installed?

We suggest using brew because it does not only install python but also the contents of python-devel (head

[2017-10-23 09:13] ubidefeo commented on #468
thank you @jleni
I'll try installing python3 with homebrew, although I kinda like the PyEnv way.

Keep you posted :)

[2017-10-23 09:18] jleni commented on #468
As far as I understand, you can use both simultaneously. I cannot be sure because I don't use PyEnv, however, I use python with both brew and conda without problems.

[2017-10-23 09:19] ubidefeo commented on #468
@jleni
wow!

- disabled `pyenv init` from my `env.sh`
- `brew install python3`
- `exec $SHELL`
- `sudo pip3 install -r requirements.txt`

BOOM!
[code]

thank you so much for the heads-up. I would have struggled for quite a while :D

[2017-10-23 09:21] jleni commented on #468
no problem :+1:

[2017-10-23 09:21] #468 closed, assigned to nobody

[2017-10-23 18:45] FL-Riko commented on #385
new additional error for keyerror: "blocknumber"

2017-10-23 20:37:32,605 |unsynced| ERROR : executing [CB]
2017-10-23 20:37:32,632 |unsynced| ERROR : Traceback (most recent call last):
  File "/home/pi/QRL/qrl/core/p2pprotocol.py", line 80, in parse_msg
    func(jdata['data'])
  File "/home/pi/QRL/qrl/core/p2pprotocol.py", line 632, in CB
    block_number = z['block_number']
KeyError: 'block_numb

[2017-10-25 00:28] ericjarvies opened #493 ""start_qrl" fails to launch if port 8080 is in use."
Type: Enhancement
Priority: Low

When launching QRL (**start_qrl**), if another application/service is already using port 8080, QRL fails to launch.

Instead of failing, can QRL [_automatically_] use another port instead?

[2017-10-25 00:33] ericjarvies opened #494 "Block validation failed - does this with each block (refers to min/max 615/617)"
The following occurs for each block it attempts to fetch (min/max **615**/**617**);

[code]

[2017-10-25 00:35] ericjarvies commented on #494
Here is my [OS X] log file;
[qrl.log.zip](https://github.com/theQRL/QRL/files/1412893/qrl.log.zip)

[2017-10-25 05:46] jleni commented on #493
Port 8080 will not be used anymore one we complete the migration to grpc. Nevertheless, we may need to evaluate if it is possible to move grpc 9009 dynamically to other ports.

[2017-10-25 07:37] cyyber commented on #385
The above bugs has been fixed from 0.54.2.

[2017-10-25 07:37] #385 closed, assigned to cyyber

[2017-10-25 09:49] cyyber commented on #494
The above issue has been fixed in PR #495. I will keep this issue open for few more hours for further confirmation by testing on other nodes.

[2017-10-25 11:01] cyyber commented on #494
Nodes working fine after PR #495.

[2017-10-25 11:01] #494 closed, assigned to cyyber

[2017-10-25 11:52] peternijhuis opened #497 "Error thrown when opening webwallet"
When opening localhost:8888 the following error occurs immediately:

[2017-10-26 12:00] converghub opened #502 "TypeError: 'NoneType' object is not subscriptable"
Here is the log file with Raspberry Pi 3. https://transfer.sh/d805E/qrl.log
[code]
Raspbian's version:
[code]

[2017-10-26 21:34] converghub commented on #502
With the latest code base, QRL blockchain ledger 0.54.5, it doesn't occur such things currently...
Sorry for the confusions. I'll see how it goes for a few days.

[2017-10-26 21:57] scottdonaldau commented on #497
Hey @peternijhuis

Thanks for raising this issue. We'll be removing the current web wallet very shortly, which will be replaced by our new portable wallet https://github.com/theQRL/qrl-wallet

Given it's slated for removal, we won't be working on a fix at this time.

We're publishing a blog post to introduce the new QRL Wallet very soon!

[2017-10-26 21:57] #497 closed, assigned to nobody

[2017-10-27 15:03] ubidefeo opened #509 "Raspberry Pi Stretch: update instructions. requires sudo for install"
hi guys

I'm now at my second RPi 3 install because of SD failure.
Noticed this yesterday already, but today it's confirmed.

the Install command in the README should be changed to

[code]

no sudo will fail to link `start_qrl`

u.

[2017-10-29 18:04] jleni commented on #304
This is the expected behavior at this moment. This is likely to change in the near future.

[2017-10-29 18:04] jleni commented on #509
Thanks @ubidefeo. The instructions have been updated

[2017-10-29 18:04] #509 closed, assigned to nobody

[2017-10-29 18:05] #502 closed, assigned to cyyber

[2017-10-29 18:11] jleni commented on #309
reducing the priority. Telnet interface will be soon deprecated. In the next few weeks the recommend approach is to use the webwallet. A new CLI based on grpc will be available soon.

[2017-10-29 18:12] jleni commented on #303
Telnet interface will be soon deprecated. In the next few weeks the recommend approach is to use the webwallet. A new CLI based on grpc will be available soon.

[2017-11-04 19:19] ubidefeo commented on #493
hey @jleni
what's port 8080 for?
- web wallet connects over 3000
- telnet is on 2000

I can telnet to it and it gets connected (of course, being a TCP port on listen), but any character I type in gets the session ended and triggers this in the log

[code]

[2017-11-04 19:50] jleni commented on #493
Here is the summary:

2000- telnet - Will be removed soon
8080 - REST API - Will be removed soon (this was used by the old webwallet and the old block explorer)
9009 - grpc API - That is the new API. It will be the only open port one the migration is finished

webwallet is already using grpc
blockexplorer will move to grpc soon and we will remove 8080
cli will soon move to grpc and we will remove

[2017-11-04 19:52] jleni commented on #493
If in the next few days you still want to play with 8080, it is the obsolete REST API. You can check it with curl or any other tool that works for REST.

[2017-11-04 20:04] ubidefeo commented on #493
I'll wait for a nice CLI :)

[2017-11-12 00:45] scottdonaldau opened #553 "GetObject of the PublicAPI Service fails to get transaction details"
When trying to get details of a transaction through the PublicAPI grpc service, it throws 'Invalid Address'.

My node gets the following in debug logs:
[code]

JS Client gets this:
[code]

Test transaction hash: bade7769d112ea6d0cf5aabc9499383e9e024b0451ae80445657831a331508b8

See qrl-wallet issue for more info: https://github.com/theQRL/qrl-wallet/issues/49

[2017-11-12 03:19] jleni commented on #553
This should have been fixed in #554

[2017-11-21 10:31] cyyber commented on #303
Telnet client has been replaced by command line client.

[2017-11-21 10:31] #303 closed, assigned to nobody

[2017-11-21 10:31] cyyber commented on #309
Telnet client has been replaced by command line client.

[2017-11-21 10:31] #309 closed, assigned to nobody

[2017-11-22 14:29] ubidefeo opened #632 "Custom node port as alternative to TCP 9000"
Hi guys.
As I've been mentioning in the #suggestions channel, please label this as "feature enhancement" or something appropriate.

I think it would be very beneficial to allow nodes to listen on ports other than TCP 9000.
This would let whomever has the expertise run multiple nodes behind the same public IP.

I personally am accustomed to running my own services for fun as well as for clients' cu

[2017-11-22 14:53] jleni commented on #632
Hi ubi,
Thanks! It is definitely happening. We are in the middle of moving the whole p2p to grpc and considering this is critical.

The default port for grpc is 9009 but we will provide a command line argument and a setting in the configuration file to support alternative port numbers.

Please keep sending suggestions!

[2017-11-22 14:53] jleni commented on #493
This is not applicable anymore. The node is not using port 8080 anymore.

[2017-11-22 14:53] #493 closed, assigned to nobody

[2017-11-22 14:54] jleni commented on #322
This is not applicable anymore. Telnet service has been removed.

[2017-11-22 14:54] #322 closed, assigned to nobody

[2017-11-24 18:13] ubidefeo opened #642 "Cannot open wallet after hard-fork / suggestions to make alpha-testing better"
hi guys

as suggested by @cyyber on Discord I'm opening an issue related to this.
after the hard fork from the other day a lot of pieces have come loose in the alpha-tester workflow.

`qrlexplorer.info` has lost some functionality, but that we're now aware of, and being able to at least see blockheight is a starting point.

`wallet.qrlexplorer.info` has not allowed me to open the new wallet. on th

[2017-11-24 18:20] cyyber commented on #642
Thanks @ubidefeo for the suggestions. Your points has been taken. A massive backend update is being performed, as we are moving towards gRPC. We will make sure, this doesn't repeat next time. We will make sure, on next hard fork, all nodes are being updated before we ask all alpha-testers to update their nodes.

Thanks for co-operating with us.

[2017-11-24 18:28] jleni commented on #642
Yes, we are improving the workflow everywhere. Releasing is getting easier but we need much better coordination with other components. In particular about updating backend nodes, etc.

We will add release notes for major.minor changes. Hotfixes will be announced in the alpha-channel.
With respect to tools we need to integrate them in the release process.

@cyyber We should split this into two tick

[2017-11-24 20:05] ubidefeo commented on #642
thank you guys.
I also see a lot of obsolete network nodes in the console output.
I think with better announcements it would be clearer to testers that old nodes are to be shut down.
maybe there's a way not to let these nodes participate in the cluster rather than cluttering traffic?
maybe not...

[2017-11-24 20:09] jleni commented on #642
In the next releases we will have much better peer management so nodes will just avoid connecting.
we are using semantic versioning (MAJOR.MINOR/PATCH) Incompatible changes will be marked by an increase in that MAJOR version number.
MAJOR=0 is a kind of exception.. but I agree that at least we should avoid cluttering the logs

[2017-11-28 07:37] jleni opened #661 "test"

[2017-11-28 07:37] #661 closed, assigned to nobody

[2017-11-29 19:21] Doneyy opened #674 "The old chain seems to be loading after the hard fork"
After the fork this is what I did (On a raspberry pi3, with python 3.6.0):
sudo pip3 uninstall qrl
sudo pip3 show qrl
Then it was empty, so uninstall seems to have worked.
Then:
sudo pip3 install -U qrl
start-qrl
It started loading, but even though the qrl block explorer says the last block is 1405, it loads past that number.

[2017-11-29 19:31] cyyber commented on #674
You have not deleted the old chain from your disk. It is stored in ~/.qrl/data
You need to remove that. Although we will add the fix, so that you get informed because of invalid chain.

[2017-11-30 18:07] Doneyy commented on #674
Great, staking now

[2017-12-03 13:52] newatqrl opened #688 "Block 1 rejected"
Hi there,
I recently started with testnet and installed url on a raspberry. It happen to work for a few days. But now i get some errors in the log:

2017-12-03 14:25:30,027|local-dev|syncing| INFO : Initializing download from 1
2017-12-03 14:25:30,032|local-dev|syncing| INFO : <<<Fetching block: 1 from 104.237.3.185:9000
2017-12-03 14:25:30,483|local-dev|syncing| INFO : >>> Received Block #1
2017-

[2017-12-03 17:06] cyyber commented on #688
From the above error, it seems like, that you have cloned from the master branch. Basically you need to install the release by following

pip3 install qrl

In case you would like to run the master branch, make sure, you do the following
pip3 uninstall protobuf
pip3 install protobuf

and then you can start qrl

[2017-12-05 08:18] disqotech opened #693 "Installation on Fedora 25 within qubes."
Hi - I cant seem to install QRL, I have attempted to install dependencies but this fails:

[user@software ~]$ sudo dnf -y install swit3.0 python3-dev python3-pip build-essential cmake pkg-config libssl-dev libffi-dev

Qubes OS Repository for VM (updates)            207 kB/s | 529 kB     00:02
RPM Fusion for Fedora 23 - Free                 726 kB/s | 457 kB     00:00
No package swit3.0 available.

[2017-12-05 08:36] jleni commented on #693
As discussed in Discord, we will aim to provide support for Fedora 25 and upwards. The expect fix for this isuee should involve a docker configuration to run unit/integration tests in fedora

[2017-12-06 12:42] newatqrl commented on #688
Thanks for your reply. I will do a reinstall later this week.

[2017-12-06 12:42] #688 closed, assigned to cyyber

[2017-12-09 13:22] jleni commented on #693
According to the discussion in Discord, it is already possible to have QRL running in Qubes.
Would it make sense to create a PR with a short text describing the steps?

[2017-12-10 08:33] ubidefeo opened #706 "[CLI] add version information"
hi guys

I think invoking `qrl` from command line should also report version(s) of qrl and libqrl.
An alternative could be adding the `-i [--info]` flag to get them.
In some command line utilities version is the first thing shown.

[2017-12-11 07:59] converghub opened #708 "[qrl wallet_ls] No wallet found at /xxx/xxx"
when you use "qrl wallet_ls",  it works only when you are in the "$HOME/.qrl/wallet".
[code]
Here is my pi3's information.
[code]

[2017-12-11 11:10] cyyber opened #709 "[CLI] Wallet commands path issue"
The following command doesn't work until unless the user changes its current directory is to ~/.qrl/wallet

qrl wallet_secret --wallet-idx 0
Wallet index not found

[2017-12-12 08:17] disqotech commented on #693
In qubes, I was able to successfully install QRL by first upgrading the pre-installed Debian templateVM from Debian 8 to Debian 9. All the instructions for that are [here](https://www.qubes-os.org/doc/template/debian/upgrade-8-to-9/), and it works pretty smoothly.

When you have a Debian 9 templateVM, make a new standalone VM from that template, increase its private storage allocation, and from a

[2017-12-12 12:01] calvix commented on #693
Hello, I run qrl on fedora 27 docker image and I install it with this(maybe it will help you):
https://github.com/calvix/qrl-node-docker/blob/master/Dockerfile#L3-L6

[2017-12-13 09:39] #553 closed, assigned to jleni

[2017-12-13 09:42] scottdonaldau opened #715 "Transaction takes minutes to appear in getObject gRPC call after pushing into network"
When submitting a transaction to the network, it takes minutes before it appears in the results of a getObject gRPC call, even if the transaction was pushed into the same node that getObject API call is being made against. Typically I can see it in the results when it is committed three blocks behind the current block height.

It would be beneficial even if the transaction is not committed to a bl

[2017-12-13 14:16] jleni commented on #715
The PublicAPI is fetches transactions by hash from the bufferedChain..
It is actually going through the mempool before moving to the stable blockchain...
I am going to bump up the priority because this can be an indication of another problem

[2017-12-13 19:40] ubidefeo opened #718 "wallet_secret | missing hexseed"
`wallet_secret` info displays **"Provides the mnemonic/hexseed of the given..."** but actually only address and mnemonic phrase are output.

[code]

[2017-12-13 19:44] #642 closed, assigned to jplomas, scottdonaldau, jleni, cyyber

[2017-12-13 22:49] scottdonaldau opened #719 "OTS Key Reuse Possible"
The network is accepting transactions that are signed with OTS Keys that do not match the OTS Key Index a transaction object.

Validation should be added so that the OTS Key Index defined in a 'transferCoins' object matches the first 4 bytes of a signature provided in 'pushTransaction'.

[2017-12-14 00:17] surg0r commented on #719
Second major critical error is that self.pubhash is derived incorrectly from self.PK + ots_key..instead of a concatenation of hashes from self.pk.

This requires an urgent fix..

[2017-12-14 22:02] cyyber commented on #715
Issue Fixed in PR #730

[2017-12-14 22:02] #715 closed, assigned to cyyber

[2017-12-15 07:49] cyyber opened #732 "TransferCoin from Stake Validator are accepted by Public API"
TransferCoin txn from Stake Validator are accepted by Public API and rejected later when found as stake validator.

[2017-12-22 02:19] galations522 opened #742 "Unhandled Error"
2017-12-21 21:17:51,913|0.58.2|synced| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/DIR/.local/lib/python3.5/site-packages/qrl/main.py", line 127, in main
    start_legacy_services(buffered_chain, qrlnode, sync_state)
  File "/home/DIR/.local/lib/python3.5/site-packages/qrl/main.py", line 84, in start_legacy_services
    reactor.run()
  File "/home/DIR/.loc

[2017-12-22 02:29] galations522 commented on #742
following is piped from the client help it helps
    self.flush()
  File "/usr/lib/python3.5/logging/__init__.py", line 965, in flush
    self.stream.flush()
BrokenPipeError: [Errno 32] Broken pipe
Call stack:
  File "/usr/local/bin/start_qrl", line 11, in <module>
    sys.exit(main())
  File "/home/DIR/.local/lib/python3.5/site-packages/qrl/main.py", line 127, in main
    start_legacy_services(bu

[2017-12-22 16:33] cyyber commented on #742
Fixed in PR #744

[2017-12-22 16:33] #742 closed, assigned to cyyber

[2017-12-23 02:23] galations522 opened #750 "Segmentation Fault when upgrading"
Is the command to down grade to the previous version? beyond that the fault happened at the end

Collecting cryptography>=2.1.4 (from pyopenssl>=17.3.0->qrl)
  Using cached cryptography-2.1.4-cp35-cp35m-manylinux1_x86_64.whl
Collecting setuptools (from protobuf->qrl)
  Using cached setuptools-38.2.4-py2.py3-none-any.whl
Collecting wheel>=0.29.0 (from scikit-build->pyqrllib>=0.2.9->qrl)
  Using cac

[2017-12-23 02:25] galations522 commented on #750
also ran the client and found the following >> please note I have yet to get the client up and running to coins.

2017-12-22 21:24:04,120|0.58.3|syncing| INFO : >>> Received Block #21276
2017-12-22 21:24:04,157|0.58.3|syncing| INFO : [ChainBuffer] Block #21276 added  stake: b'Qc884d7eeb15c7abcdadfdca68bee67c19a5c7e0b98d87fb2bed3b0f18bf80c9025599950'
2017-12-22 21:24:04,279|0.58.3|syncing| INFO : <

[2017-12-25 02:56] galations522 opened #753 "Just Upgraded - 2017-12-24 21:55:42,207|0.58.3|synced| CRITICAL : [TWISTED] Unhandled Error"
2017-12-24 21:54:12,478|0.58.3|synced| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/dir/.local/lib/python3.5/site-packages/qrl/main.py", line 127, in main
    start_legacy_services(buffered_chain, qrlnode, sync_state)
  File "/home/dir/.local/lib/python3.5/site-packages/qrl/main.py", line 84, in start_legacy_services
    reactor.run()
  File "/home/dir/.loc

[2017-12-25 16:54] galations522 opened #755 "Segmentation fault when running update " pip3 install -U qrl""
Segmentation fault
at the end of the update ?

 pip3 install -U qrl
Collecting qrl
Collecting pyqrllib>=0.2.9 (from qrl)
Collecting protobuf (from qrl)
  Using cached protobuf-3.5.1-cp35-cp35m-manylinux1_x86_64.whl
Collecting six>=1.9 (from qrl)
  Using cached six-1.11.0-py2.py3-none-any.whl
Collecting pyopenssl>=17.3.0 (from qrl)
  Using cached pyOpenSSL-17.5.0-py2.py3-none-any.whl
Collecting PyY

[2017-12-25 17:07] Mrwh0 opened #756 "sudo pip3 install -U qrl Ubuntu server 14.04 old cmake + pyqrllib install error"
ubuntu server 14.04

CMake Error at CMakeLists.txt:4 (cmake_minimum_required):
      CMake 3.5 or higher is required.  You are running version 2.8.12.2

  -- Configuring incomplete, errors occurred!
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-3r9402om/pyqrllib/setup.py", line 70, in <module>
        setup_package()
      File "/tmp/p

[2017-12-25 17:29] Mrwh0 commented on #756
upgrading cmake wait

[2017-12-25 17:45] jleni commented on #756
Yes, as it is explained at the beginning of the error message:

CMake 3.5 or higher is required. You are running version 2.8.12.2

[2017-12-25 17:48] jleni commented on #756
A very recent cmake version is provided by PyPI. You can install it by running:

pip3 install -U cmake

[2017-12-25 17:56] Mrwh0 commented on #756
wget http://www.cmake.org/files/v3.5/cmake-3.5.2.tar.gz
tar xf cmake-3.5.2.tar.gz
cd cmake-3.5.2
./configure
makesudo apt-get install checkinstall
sudo checkinstall
sudo dpkg -i cmake_3.5.2-1_amd64.deb
cmake -version
cmake version 3.5.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2017-12-25 17:57] Mrwh0 commented on #756
sudo pip3 install -U qrl
 -- Build files have been written to: /tmp/pip-build-eo23wsdy/pyqrllib/build/temp.linux-x86_64-3.4
    [  2%] Swig source
    [  4%] Swig source
    [  6%] Swig source
    /tmp/pip-build-eo23wsdy/pyqrllib/src/dilithium/dilithium.h:7: Warning 201: Unable to find 'string'
    /tmp/pip-build-eo23wsdy/pyqrllib/src/dilithium/dilithium.h:8: Warning 201: Unable to find 'vector'

[2017-12-25 18:01] Mrwh0 commented on #756
sudo pip3 install pyqrllib
The directory '/home/analiser/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/analiser/.cache/pip' or its parent directory is not owned by the current user and caching wheels has

[2017-12-25 18:05] Mrwh0 commented on #756
stuck here

[ 6%] Swig source
/tmp/pip-build-xryxolzn/pyqrllib/src/dilithium/dilithium.h:7: Warning 201: Unable to find 'string'
/tmp/pip-build-xryxolzn/pyqrllib/src/dilithium/dilithium.h:8: Warning 201: Unable to find 'vector'
/tmp/pip-build-xryxolzn/pyqrllib/deps/dilithium/ref/randombytes.h:6: Warning 201: Unable to find 'unistd.h'
/tmp/pip-build-xryxolzn/pyqrllib/src/dilithium/dilithium.h:39: W

[2017-12-25 20:10] cyyber commented on #756
The issue is with the gcc and g++ version. You must have atleast gcc and g++ version 5

Please follow the steps and you will be able to install in Ubuntu 14.04.5

sudo add-apt-repository ppa:ubuntu-toolchain-r/test
sudo apt-get update
sudo apt-get install gcc-5 g++-5

sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 1
sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g

[2017-12-25 20:26] cyyber commented on #755
Can you please reboot your node and try installing after that?

[2017-12-25 23:25] galations522 commented on #755
Rebooted system segmentation fault exist as user but not as sudo or root. The client runs either way the same mines and fails to transfer coins to the accounts involved. If two different problems check into seg problem first it seems it would be a more global problem. I am using debian 9 which is still unsupported

[2017-12-26 00:06] #756 closed, assigned to jleni, cyyber

[2017-12-26 00:10] galations522 commented on #755
Know getting the following while client is running
2017-12-25 19:09:26,183|0.58.3|synced| CRITICAL : [TWISTED] Unhandled Error
Traceback (most recent call last):
  File "/home/bible1/.local/lib/python3.5/site-packages/qrl/main.py", line 127, in main
    start_legacy_services(buffered_chain, qrlnode, sync_state)
  File "/home/bible1/.local/lib/python3.5/site-packages/qrl/main.py", line 84, in start

[2017-12-26 04:59] cyyber commented on #755
@galations522 I know about the KeyError issue #753
It would be fixed soon.

You can only fail to send txn, if your wallet is in stake validator list. A stake validator is not allowed to send txn. Check your wallet list at https://explorer.theqrl.org/stakers

[2018-01-04 10:42] seanlis opened #760 "std::bad_alloc exception"
**Environment**
OS: [Arch Linux ARM](https://archlinuxarm.org/)
Banana Pi M1
qrl 0.58.4
**Steps to Reproduce**
run `start_qrl` and wait.
**Expected Results**

**Actual Results**
Program terminated abnormally two times.
[code]
[code]

[2018-01-10 09:07] scottdonaldau opened #768 "Token balances and Transactions are delayed in gRPC API Calls"
Consider moving token state to bufferedChain so getAddressState gRPC calls get token balances faster.

[2018-01-12 08:49] scottdonaldau opened #771 "Can send NULL tokens to NULL address"
I was able to send NULL tokens to a NULL address in txn 94cd621e3eeabb2074da9c2add51470ded62bc8d2ffa295469df6500bf459162

[2018-01-12 21:42] scottdonaldau opened #772 "gRPC GetAddressState showing Duplicate Transactions"
See example below

[code]

[2018-01-12 21:59] scottdonaldau opened #773 "gRPC GetObject Issue"
I have noticed the following issue affecting the GetObject gRPC API.

Immediately after sending a transaction into the network, and receiving confirmation it's now in a block, I am able to run GetObject by sending the transaction hash and receive a response.

Shortly after (maybe 30 seconds), I start to see the following error on the node for about 30 seconds if I continually try and request the t

[2018-01-12 22:06] scottdonaldau commented on #768
Tokens Transfer transactions also take some time to appear in getAddressState.

[2018-01-12 23:42] scottdonaldau opened #774 "gRPC GetAddressState does not show incoming transactions"
See wallet Qac1f4753e3723034895413374eeb034b53ff223b90492e088963cce1340884dc23a09cb6 on testnet.

This wallet has never sent a transaction, but has received many Quanta from others.

See txn hash: 731d280a28959f0f0bd4ac24f83a8b765c9d75fdb5aa69f342ca1aceb1350250

GetAddressState should show incoming transactions as well as outgoing.

[2018-01-13 09:15] scottdonaldau commented on #774
The original wallet I referenced had never sent a txn at the time this bug was logged.

It appears that after sending a txn, all txns begin to appear in the results of GetAddressState.

Please use this wallet as the new reference: https://explorer.theqrl.org/a/Q1ab3ef2d49ebf474b04d0f73cf024da15818f6ab84b9412ec04913b3b8d280e62bd9bd0b

[2018-01-13 09:26] scottdonaldau commented on #768
Normal Quanta Transfers are also delayed by a few minutes.

[2018-01-13 09:27] scottdonaldau commented on #774
Ignore this, turns out it's just delayed. Updated #768

[2018-01-13 09:27] #774 closed, assigned to cyyber

[2018-01-29 00:30] cyyber commented on #768
Fixed in PoW

[2018-01-29 00:30] #768 closed, assigned to cyyber

[2018-01-29 00:30] cyyber commented on #772
Fixed in PoW

[2018-01-29 00:30] #772 closed, assigned to cyyber

[2018-01-29 00:31] #732 closed, assigned to cyyber

[2018-01-30 20:32] plebcity opened #886 "QRL node is stuck on block #2225"
2018-01-30 21:24:20,267|0.59.1|synced| INFO : Mining Block #2224
2018-01-30 21:24:20,268|0.59.1|synced| WARNING : Slave is not authorized yet for mining
2018-01-30 21:24:20,268|0.59.1|synced| WARNING : Added Slave Txn
2018-01-30 21:24:20,269|0.59.1|synced| WARNING : No Mining XMSS Found
2018-01-30 21:24:20,272|0.59.1|synced| INFO : A TXN has been Processed 61a646315544b0c13e8b3c11eb20567cd0c293bbd

[2018-01-31 07:00] c0decave opened #887 "Block X not found in an endless loop / No termination of process possible"
Process runs as: start_qrl -l DEBUG
No other output. Trying to end the process with Ctrl+C is not possible.
Output below is printed every 1-2 seconds. Endless loop
[code]

[2018-01-31 07:15] cooper7777 opened #888 "Node crashed on block #2001"
At first it stuck on the block for a long time:
2018-01-31 07:03:56,334|0.59.1|synced| INFO : >> Ignoring compare_and_sync Syncing Enabled
2018-01-31 07:04:06,337|0.59.1|synced| INFO : <<<Fetching block: 2001 from 85.10.192.28:54438
2018-01-31 07:04:06,344|0.59.1|synced| INFO : >>> Received Block #2001 d483dc1b7dc2984d6f0c70d7db76ff3a2e55d4bc56a5be49aaf0a57ec196ab3e
2018-01-31 07:04:06,498|0.59.1|

[2018-01-31 10:14] baudje opened #889 "qrl hung and no shutdown thru SIGINT"
QRL on Mac OS X. QRL got hung at some point. killing the process using ctrl+c does not result in anything meaningful.

2018-01-31 10:36:05,025|0.59.1|synced| INFO : >>> Received Block #3751 f965b5ff4ae00449f4866c7531523cd794abf71d29324a0639a6cec2943cf885
2018-01-31 10:36:08,948|0.59.1|synced| INFO : <<<Fetching block: 3752 from 104.251.219.215:9000
2018-01-31 10:36:08,952|0.59.1|synced| INFO : Min

[2018-01-31 12:20] baudje commented on #889
**10:36:28,978** timestamp after which no more logs until shutdown request 30 minutes later

[2018-02-03 18:16] Yzord opened #895 "Can't install on ProxMox Virtual Machine (missing AES-NI support)"
https://pastebin.com/cxXXS6LD

Had this issue on Ubuntu 16.04 and on Debian 9. Looks like something is not right with building?

[2018-02-03 18:25] jleni commented on #895
What is the CPU that you are using?

We are using an instruction set: AES-NI (https://en.wikipedia.org/wiki/AES_instruction_set) that is not supported in old CPUs

While we could work on supporting very old CPUs, they would not be actually effective due to the higher requirements of the cryptonight algorithm.

I agree that it may make sense to automatically detect CPU capabilities and show an appr

[2018-02-03 18:26] Yzord commented on #895
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                2
On-line CPU(s) list:   0,1
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             2
NUMA node(s):          2
Vendor ID:             GenuineIntel
CPU family:            15
Model:                 6
Model name:            Common KVM processor
Stepping:

[2018-02-03 18:29] jleni commented on #895
ok, you seem to be running a virtual machine.

Could you tell me what are you using? Vmware, Virtualbox, etc? It would be good to document the environment so we see if there is any chance of supporting that in the near future. At least with the miner disabled.

[2018-02-03 18:30] Yzord commented on #895
I run Proxmox on dedicated servers

[2018-02-03 18:34] jleni commented on #895
I have updated the title to be more specific about the problem

[2018-02-06 12:04] seanlis opened #900 "Encryption of wallet file"
The wallet file generated by python client is not encrypted.
It would be better to allow users to set a password for accessing this wallet file.

[2018-02-06 22:00] cyyber commented on #887
Fixed in PoW

[2018-02-06 22:00] #887 closed, assigned to cyyber

[2018-02-06 22:00] cyyber commented on #886
Issue fixed on v0.60

[2018-02-06 22:00] #886 closed, assigned to cyyber

[2018-02-06 22:01] cyyber commented on #753
Buffered Chain removed in PoW

[2018-02-06 22:01] #753 closed, assigned to cyyber

[2018-02-06 22:02] cyyber commented on #719
Fixed in PoW version of Testnet

[2018-02-06 22:02] #719 closed, assigned to jleni, cyyber

[2018-02-06 22:06] cyyber commented on #888
Issue has been fixed on PoW v0.60

[2018-02-06 22:06] #888 closed, assigned to cyyber

[2018-02-06 22:14] sammy007 opened #902 "RPC block template"
So how to get block template? On medium you claim

There is no rpc documentation, after quick code search I see that there is no even a trace of this functionality.

[2018-02-06 22:36] jleni commented on #902
Mining pool integration is something that we are working on at the moment.
What you are refering to is the complete feature set. We will have the JSON-RPC interface for the mining pools soon.

I noticed that you've been also actively developing mining pools. Maybe we can cooperate and help you with the integration. Feel free to contact us or join our Discord channel.

[2018-02-06 22:52] sammy007 commented on #902
I am banned on qrl reddit, discord, slack... Just thought beta is beta, where feature set is already sealed. I have no plans in visible future to develop a pool for this algo, if you claim it will work with existing pools it will also work with my solo stratum which is available for free and will probably require only small changes. My policy is to charge exorbitant amount of money from ICO projec

[2018-02-06 23:02] #902 closed, assigned to nobody

[2018-02-08 05:19] Ompanime opened #903 "Call Error and Target Specific Option Mismatch"
When running the "Pip3 install -U qrl" command and on the " Running setup.py bdist_wheel for pyqryptonight ... -" part I get a return of:

pyqryptonight/qryptonightPYTHON_wrap.cxx /tmp/pip-build-zPPvUJ/pyqryptonight/src/api/qryptonight.i
  /tmp/pip-build-zPPvUJ/pyqryptonight/src/pow/powhelper.h:27: Warning 201: Unable to find 'vector'
  /tmp/pip-build-zPPvUJ/pyqryptonight/src/pow/powhelper.h:28: W

[2018-02-08 05:21] jleni commented on #903
This seems very much related to issue #895
Could you post your CPU model? Are you using a virtual machine?

[2018-02-08 14:22] Ompanime commented on #903
I am not running a virtual machine, rather I am using my Toshiba Laptop running on Windows 10. It has 6GB of RAM, a 64-bit Operating System, and its processor is an Intel(R) Pentium(R) CPU B980 @ 2.40GHz 2.40 GHz, which is also a x64-based processor.

[2018-02-09 17:10] jleni commented on #903
Yes, similar case. You need a CPU with AEI-NI support. Unfortunately this laptop does not.
I will close the issue. Maybe in the future we provide support for older hardware but in practice, they will not be efficient for any mining purposes so this task is low priority for now.

[2018-02-09 17:10] #903 closed, assigned to nobody

[2018-02-09 17:10] #895 closed, assigned to nobody

[2018-02-14 13:03] pollodigomma opened #916 "Pyqryptonight build fails during installation"
This may be related to issues #903 and #895.

Ubuntu 16.04 with AMD Phenom II X4 955 Black Edition 3.2GHz fails to build pyqryptonight during installation with `pip3 install -U qrl` .

Log:

[code]

[2018-02-14 13:13] cyyber commented on #916
https://www.cpu-monkey.com/en/cpu-amd_phenom_ii_x4_955-278

Your CPU doesnt have AES-NI support.

[2018-02-14 13:13] #916 closed, assigned to nobody

[2018-02-14 13:18] jleni opened #917 "Detect or add support for emulated software-based AES"
We have registered many cases where people try to install QRL in unsupported older CPUs.

Although these CPUs will never be competitive with respect to mining, there are some factors that we need to consider:
- people with older CPUs may still like to install a node to handle transactions locally, etc.
- at the moment, there is no clear error message for this, so it has a bigger impact on our supp

[2018-02-14 13:53] jleni commented on #917
Linking to issue in https://github.com/theQRL/qryptonight/issues/29

[2018-02-14 20:48] noremac2007 opened #918 "Add a CLI function to remove a wallet."
Manually removing a wallet address from wallet.qrl creates an issue where wallet_add and wallet_ls cannot see the wallets.

Please add a cli function to remove a wallet as needed.

`noremac@ubuntu:~$ qrl wallet_ls
It was not possible to open the wallet: Error parsing message
No wallet found at /home/noremac
`

[2018-02-15 13:10] ademcan opened #922 "Remove the optional "Type" property from the Transaction message definition in qrl.proto"
It seems that the "Type" property from the Transaction message definition in qrl.proto is optional (from @jleni), we could remove it to make it less ambiguous.
see https://github.com/theQRL/QRL/blob/0b91299ad4fc672fb64610392d541bd3d84de28c/qrl/protos/qrl.proto#L364

[2018-02-15 13:12] ademcan opened #923 "Make PushTransactionResp (some_response) more talkative"
The response we get from PushTransactionResp could be a bit more helpful if it was returning more information about what is going wrong (or what is missing).
https://github.com/theQRL/QRL/blob/0b91299ad4fc672fb64610392d541bd3d84de28c/qrl/protos/qrl.proto#L170

[2018-02-16 09:41] jleni commented on #306
Linking to similar tasks in dependencies
https://github.com/theQRL/qryptonight/issues/31
https://github.com/theQRL/qrllib/issues/38

[2018-02-16 09:49] jleni opened #925 "Integrate signature descriptors"
These changes require small changes in addresses, PK, mnemonics, etc.

This is linked to the following PRs
https://github.com/theQRL/qrllib/pull/102
https://github.com/theQRL/qrllib/pull/101
https://github.com/theQRL/qrllib/pull/99

[2018-02-17 17:08] jleni opened #928 "Review qrl/core/formulas.py"
Emission / Block Reward / etc.. need to be reviewed, check parameters, etc.

[2018-02-18 20:27] cyyber commented on #922
Removed in PR #929

[2018-02-18 20:27] #922 closed, assigned to cyyber

[2018-02-19 10:53] jleni commented on #928
This PR is related: https://github.com/theQRL/block-explorer/pull/22

[2018-02-19 11:10] scottdonaldau commented on #773
This issue is no longer present. Closing.

[2018-02-19 11:10] #773 closed, assigned to cyyber

[2018-02-19 11:47] jleni opened #935 "Unify address validation"
Improve validation in the node and ensure other components have access to the same validation.
Ideally move down to QRL Helper
Opening the same issue in qrllib

[2018-02-19 16:45] markcross opened #937 "qrl wallet_gen - No command 'qrl' found, did you mean:"
Installing BETA: on LXLE - Ubuntu 16.04 derrivative

https://bugs.launchpad.net/ubuntu/+source/bash/+bug/1588562

`cd ~`

`vi .profile`

**ADD:**

`export PATH="$PATH:$HOME/.local/bin"`

[2018-02-19 19:30] #917 closed, assigned to nobody

[2018-02-20 15:00] gokulsan opened #939 "Linking issues result in `Fatal Python errord`"
I have installed the Quantum Resistant Ledger on my MacOS 10.13.2 as per the instructions provided in the following GitHub repository URL:

`https://github.com/theQRL/QRL`

However it is not starting up when I give the following instructions :

`qml_wallet_gen`

I am getting the following error while I am executing the command :

`Fatal Python error: PyThreadState_Get: no current thread

Abort tra

[2018-02-21 12:23] baudje opened #940 "miner skipping current blocks as beyond lead limit"
[qrl.log](https://github.com/theQRL/QRL/files/1743918/qrl.log)

NB timezone = ETC, OS = OS X
QRL miner seems to have been mining an alternative chain. Found
many solutions for blocks that the main chain had already mined earlier.
Miner skips recent blocks received from other nodes as beyond lead limit. Full log attached

[2018-02-21 12:29] jleni opened #941 "Differentiate between installed version and running version"
In some cases, the version shown in the log files may not correspond to the actually running version.
Version detection should be improved to recognize local checkouts, etc.

something like https://github.com/warner/python-versioneer may be useful.

[2018-02-21 12:30] jleni commented on #940
@cyyber I think you might want to have a look at this.

[2018-02-21 12:37] jleni commented on #939
This is actually a python installation problem. This typically happen when you have several python distributions in the same system.. Like system+brew+anaconda, etc.

You are using to run the application a version of Python that is not binary compatible with the one that was in the path when you compiled the Python bindings.

I would suggest using https://docs.python.org/3/library/venv.html to cre

[2018-02-21 12:42] baudje commented on #940
NB versions of relevant other packages:
[code]

[2018-02-21 12:47] jleni commented on #940
Normally this message means that the node has received a block with an index that is too high for the current blockchain. It could be a problem or not.
We need to analyse the log files.

[2018-02-21 12:49] baudje commented on #940
the problem from a mining perspective is that the miner seems to be unable to catch up with the main chain (if the chain in blockexplorer actually is the main chain).

[2018-02-21 13:01] jleni commented on #940
Yes, I understood that and it is why I am giving priority to this issue. We will write back soon.
Thanks a lot for your support / feedback

[2018-02-21 13:32] jleni commented on #706
Linked to #941

[2018-02-21 22:14] jleni commented on #939
This seems to be connected to this issue
https://gitlab.kitware.com/cmake/cmake/issues/17546

[2018-02-22 21:24] cyyber commented on #940
@baudje This is an expected behavior.
From the log its clear, your node was downloading block #19592
and at that same time, all the synced nodes, were mining around block number #23223. We have a filter, that a node will not accept any future block which is beyond the range of current chain height + 125
so your node height was 19591+125 = 19716
So your node will reject all blocks above the block n

[2018-02-22 21:42] plebcity opened #944 "Node randomly crashed"
My node randomly crashed and the last part of the logs show this:

2018-02-22 22:14:09,086|0.60.7|synced| INFO : <<<Fetching block: 20159 from 104.237.3.185:9000
2018-02-22 22:14:09,213|0.60.7|synced| INFO : >>> Received Block #20159 92d6217af65839ea66358744aec7ca4cf19320f4336288759d12f57b54f6be3d
2018-02-22 22:14:09,216|0.60.7|synced| DEBUG : [get_block] Block header_hash b'92d6217af65839ea663587

[2018-02-22 21:49] plebcity commented on #944
[last 12 hours of qrl.log](https://we.tl/6SkvKpW0Gp)

[2018-02-22 22:43] cyyber commented on #944
It was because of pyqryptonight v0.6.6

[2018-02-23 00:34] #940 closed, assigned to cyyber

[2018-02-23 16:48] #706 closed, assigned to nobody

[2018-02-23 16:48] #718 closed, assigned to nobody

[2018-02-24 14:23] #925 closed, assigned to jleni, cyyber

[2018-02-24 14:23] #928 closed, assigned to nobody

[2018-02-24 14:24] jleni commented on #923
#958

[2018-02-24 14:24] #923 closed, assigned to nobody

[2018-02-24 14:29] jleni commented on #755
Closing this issue as it was linked to the PoS version.
Obsolete

[2018-02-24 14:29] #755 closed, assigned to nobody

[2018-02-24 14:33] #935 closed, assigned to nobody

[2018-02-24 19:16] som-dev commented on #918
I think I can work on this one as a "Help Wanted" to help me get more familiar with the system.  Is there a preferred command like maybe "wallet_rm" ?  Since this is removing an address I was thinking about adding an "are you sure" prompt with an optional way to skip the prompt.

[2018-02-24 19:18] jleni commented on #918
yes, sounds like a good idea.. maybe a -y to avoid that prompt too?
Be warn that we've changed a bit things... we are merging a lot of new features/changes in the next hour. Address format has changed a bit, too.

[2018-02-24 19:22] som-dev commented on #918
Okay, thanks for the heads up.  Maybe I'll wait and merge first before I get into it.  Would wallet-index be sufficient (like wallet_secret) or do you think it should support index and address?

[2018-02-25 03:51] Ompanime opened #964 ""Connect Failed" on Slave Generation"
This is the command that I ran and the result thereof (Please note I am now working on a computer that meets the requirements of running a QRL node.):

`Ompanime@DESKTOP-4H33NIU:~$ qrl -r --host 104.251.219.215 slave_tx_generate
Src []: 0
Addr from (Leave blank in case same as source) []:
Number of slaves [0]: 4
Access type [0]: 1
Fee [0.0]: 0
Generating Slave #1
Successfully Generated Slave 1/4
G

[2018-02-25 22:54] cyyber commented on #964
Connection Failed means, the IP is not running the services. In such a case feel free to use some different IP.
You may use one of the following
104.251.219.215
104.251.219.145
104.251.219.40
104.237.3.185
104.237.3.184

[2018-02-25 22:54] #964 closed, assigned to cyyber

[2018-02-26 07:26] kprimice opened #977 "[Errno -8] Servname not supported for ai_socktype"
I installed QRL on Ubuntu 16.04, running inside a docker container.
Wallet and slaves generation went fine but after moving slaves.json inside .qrl and running start_qrl I get the following:

I'm running v0.61.2

[2018-02-26 10:28] panart117 opened #978 "QRL does not start after update to 0.61.2"
# pip3 install -U qrl
Collecting qrl
  Downloading qrl-0.61.2.tar.gz (300kB)
    100% |████████████████████████████████| 307kB 3.3MB/s
Requirement already up-to-date: setuptools>=28.0.0 in /usr/local/lib/python3.5/dist-packages (from qrl)
Requirement already up-to-date: leveldb==0.20 in /usr/local/lib/python3.5/dist-packages (from qrl)
Requirement already up-to-date: ntplib>=0.3.3 in /usr/local/li

[2018-02-26 11:58] jleni opened #979 "Review/Improve Hash Power estimation in the getStats API"

[2018-02-26 19:25] ghost opened #980 ""Connect Failed" error after generating slaves"
-v0.61.2
-ubuntu 16.04 LTS, 64-bit
-Virtual Box

[code]

[2018-02-26 19:28] cyyber commented on #980
Please use a different ip such as
104.237.3.185
104.237.3.184
104.251.219.40
104.251.219.145

Issue same as #964

[2018-02-26 19:28] #980 closed, assigned to nobody

[2018-02-26 20:38] ghost commented on #980
running smoothly now, thanks cyyber

[2018-02-26 20:39] djalmabright opened #982 "QRL not INSTALL FROM PIP 3"
My  PYTHON 3.5  Linux Ubuntu web-hosting  fails  when  I TRY  install QRL  please  see  the  complete traceback :+1:
[djalmabr@hserv32 new_qrl]$ pip3 install -U qrl
   Collecting qrl
Requirement already up-to-date: grpcio<=1.10.0,>=1.9.0 in /home/djalmabr/virtualenv/new__qrl/3.5/lib/python3.5/site-packages (from qrl)
Requirement already up-to-date: pyopenssl>=17.3.0 in /home/djalmabr/virtualenv/ne

[2018-02-26 20:49] jleni commented on #982
@djalmabright You seem to be having a permission problem in your computer:

[2018-02-26 20:55] panart117 commented on #978
Still does not start at 0.61.3

Proceed (y/n)? y
  Successfully uninstalled qrl-0.61.3
You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

root@v22018025768261189:/usr/local/bin# pip3 install -U qrl
Collecting qrl
Requirement already up-to-date: six>=1.9 in /usr/local/lib/python3.5/dist-packages (from qrl)

[2018-02-26 21:27] cyyber commented on #978
Please make sure you have deleted ~/.qrl/data
Because we have hard forked the network, and old blocks or chain or wallet will not be supported.

[2018-02-26 21:55] plebcity opened #983 "qrl wallet_secret doesn't show Q before address"
The wallet_secret only shows:
Wallet Address  : 010600157269b89997954299fbd2e5e37e3b9274b646cfdc6a97666ee7d4320aa808727465ce7c
Mnemonic        : .....
Hexseed         : .....

There needs to be a Q in front of the address

[2018-02-26 21:56] plebcity commented on #983
Hexseed also doesn't have a Q, not sure if it's supposed to have one.

[2018-02-26 21:57] cyyber commented on #983
Hexseed never have Q in it. But yes we are missing prepending Q while showing wallet Address. Basically its an UI issue, which will be fixed in upcoming version.

[2018-02-27 05:55] kprimice commented on #977
Solved by adding "ntp 123/udp" to the /etc/services file

[2018-02-27 05:55] #977 closed, assigned to nobody

[2018-02-27 08:41] baudje commented on #889
btw have not been able to replicate this issue

[2018-02-27 11:27] kprimice opened #986 "No response received from pool.ntp.org"
ntp sources are blocked on my network. Is it possible to change the default ntp.ubuntu.com/pool.ntp.org by another one?

It seems synchronizing doesn't start because of this

[2018-02-27 12:28] ghost opened #987 "qrl wallet_ls balance not displaying"
Balance from command: qrl wallet_ls does not display in terminal

Issue with OSX, maybe other systems

[2018-02-27 16:24] jleni commented on #986
PR #985 allows for ntp server configuration. You will be able to add other servers in config.yml

[2018-02-27 16:24] jleni commented on #986
The issue has been fixed and will be released soon.

[2018-02-27 16:24] #986 closed, assigned to nobody

[2018-02-27 16:27] jleni commented on #674
Too many people are having problem with stale .qrl data. We should probably detect and show an appropriate message

[2018-02-27 16:29] jleni commented on #944
the problematic code in qryptonight has been reverted and the corresponding issues have been opened.

[2018-02-27 16:29] #944 closed, assigned to jleni

[2018-02-27 16:30] #693 closed, assigned to nobody

[2018-02-27 16:31] jleni commented on #978
Similar to #674

[2018-02-27 16:31] #978 closed, assigned to nobody

[2018-02-27 18:07] cyyber commented on #983
Fixed in PR #988
will be released in v0.61.4 with other fixes.

[2018-02-27 18:07] #983 closed, assigned to cyyber

[2018-02-28 01:01] cyyber opened #992 "CPU time limit exceeded (core dumped) in VPSs"
2018-02-27 17:58:26,240|0.61.1|synced| INFO : >>>Received block from 94.16.123.203:45316 3269 0001c9e88afa9f9eb4804e5ea07405bca49f28c73f91747d65d963968a9182fa
2018-02-27 17:59:23,944|0.61.1|synced| INFO : >>>Received block from 213.127.180.252:41548 3270 0000dd317272066cc0da7d473ef4451d78e32039da9152228adfda1768568fbb
2018-02-27 17:59:45,491|0.61.1|synced| INFO : >>>Received block from 104.237.3.1

[2018-02-28 15:11] ghost opened #995 "Website wallet"
Just sent a Quanta to another address, via the website wallet, the transaction hash shows and is coloured as though it is clickable, which it should be, opening a new tab with --> https://explorer.theqrl.org/tx/

This is not the case.

[2018-02-28 23:30] cyyber commented on #987
Issue fixed in PR #998
Fix will be available in next release

[2018-02-28 23:30] #987 closed, assigned to nobody

[2018-03-02 20:11] ghost opened #1008 "When will this project be live/moved off of testnet?"
Title pretty much explains it :)

I'd love to be running this live currently. I can pull about 1Kh/s on cryptonight.

I'm very interested in the project, is there any plan to become listed on the exchanges/curious about what dates if there is any timeframe on when the project will be live.

Thanks!!! 💃

[2018-03-02 20:15] jleni commented on #1008
Hi @juanzolo,
Thank you very much for your interest.
We try to use GitHub only for technical issues.

We invite you to ask these questions and to connect with our community in Discord. You can join using the following link https://discord.gg/sxFGEJ

[2018-03-02 20:15] #1008 closed, assigned to nobody

[2018-03-08 00:53] bmoscon opened #1021 "--json option no longer works in CLI output"
Not sure why, but using `--json` no longer works with wallet commands

[2018-03-08 07:15] ghost opened #1023 "Possible bug/not sure"
Hello!

This is a lot of info, but this is mainly what I get stuck on and need to close and re-open to sync (not sure if its just my wifi but my server is in a DMZ:

[code]
[code]

It appears to fetch the same block a few times then gets hung after banning the peer/node.

However my first sync went really well, just required a restart or two.

[2018-03-08 07:20] ghost commented on #1023
I think this may be resolved, not sure. I just wanted to throw out the output. I don't think it will be an issue when there are more miners as, upon restarting I have 9 peers, but when it bans a peer/a peer goes offline it will stop syncing when my peers dips below 3 peers. I think this is due to the slaves setting (but not sure)

[2018-03-08 07:21] cyyber commented on #1023
I am looking to this problem. Will have a fix for it soon.

[2018-03-08 07:24] ghost commented on #1023
Thanks, I was just unsure if it was a bug or just normal functioning and takes awhile to acquire more peers. :) I did restart the sync on the first install to see how it went. It seems to go smooth, but once peers are in my pool, they start to slow down and gradually fall off (like I said it could be my wifi haha)

Just eventually gets below to about 2-3 peers and won't sync and it's faster to res

[2018-03-08 07:26] cyyber commented on #1023
Yes this could possibly be because of wifi or bad internet connection.

[2018-03-08 07:28] ghost commented on #1023
[code]

[2018-03-08 07:28] #1023 closed, assigned to cyyber

[2018-03-08 23:27] hdelatorre opened #1024 ""OS Error" when trying to generate slaves.json"
ubuntu@ip:~/.qrl$ qrl -r --host 104.251.219.215 slave_tx_generate
Src []: 0
Addr from (Leave blank in case same as source) []:
Number of slaves [0]: 4
Access type [0]: 1
Fee [0.0]: 0
Generating Slave #1
Successfully Generated Slave 1/4
Generating Slave #2
Successfully Generated Slave 2/4
Generating Slave #3
Successfully Generated Slave 3/4
Generating Slave #4
Successfully Generated Slave 4/4
**OS

[2018-03-09 00:37] bmoscon commented on #1021
fixed

[2018-03-09 00:37] #1021 closed, assigned to nobody

[2018-03-10 03:52] sammy007 commented on #902
How soon is now? There is literally nothing for devs not familiar with this code to play with rpc. Is it too hard to provide a markdown docs with 3 API calls described?

[2018-03-10 04:00] cyyber commented on #902
Here is the node-cryptonote-pool which has been modified to work with QRL codebase.
https://github.com/cyyber/node-cryptonote-pool/

Following is the customized QRL config.json file for cryptonote-pool (make sure to update pool address)
https://github.com/jleni/qrl_dpool/blob/master/config.json

[2018-03-10 04:01] sammy007 commented on #902
Offtopic, how to join testnet from master branch or maybe launch a private one?

[2018-03-10 04:02] cyyber commented on #902
You need to wait for next hard fork. We have not yet hard forked network with latest codebase that supports pool mining. Although if you are interested, you can run your private network to establish the pool and setup all other stuffs related to pool mining.

[2018-03-10 04:03] sammy007 commented on #902
That's what I am asking for, any documentation?

[2018-03-10 04:08] cyyber commented on #902
If you would like to start your private one, you need to override the configuration file.

https://github.com/theQRL/QRL/blob/master/README.md
This above link includes how to override config.json
Just override peer_ip list in config.json.

Use following command to start your testnet with much less pain.
qrl wallet_gen
cp wallet.qrl ~/.qrl/

[2018-03-10 04:09] sammy007 commented on #902
[code]

Getting response: `@@`.

I see no http endpoint changes in your node pool fork, definitely missing something. or I am getting malformed reply due to some weird qrl node state?

[2018-03-10 04:10] cyyber commented on #902
You need to run this grpcProxy.py
https://github.com/theQRL/QRL/blob/master/qrl/grpcProxy.py
This will support HTTP endpoint at port 18081

[2018-03-10 04:12] sammy007 commented on #902
Consider different port for RPC, it's a conflict with Monero, there is no reason to copy rpc port if you decided to use same algo. It's confusing and annoying, some pools will definitely run both on same server.

[2018-03-10 04:13] cyyber commented on #902
We will make these ports configurable, nothing will be hardcoded, and sure, will look for other ports to avoid conflict.

[2018-03-10 04:15] sammy007 commented on #902
So this rpc service is not a part of default application? You can really make many lives easier if mining rpc will listen on 127.0.0.1:PORT by default without tons of configs. There are tons of coins and every need to add their own "special things".

[2018-03-10 04:18] cyyber commented on #902
Yes for now the rpc service is not a part of default application. But will be added soon.

[2018-03-10 04:30] sammy007 commented on #902
`python3 qrl/grpcProxy.py`

[code]

Why not /home/CURRENT_USER/.qrl ?

[2018-03-10 04:33] sammy007 commented on #902
Missing `payment_slaves.json` is also confusing, where to get it?

[2018-03-10 04:39] sammy007 commented on #902
There is no `config.json`, there is `config.yml` in `~/.qrl`. And there is no `peer_ip` param in it.

[2018-03-10 04:45] cyyber commented on #902
You need atleast two nodes, to set it up correctly.
One of the node will be a mining node, but will not be running grpcProxy.py.
You can directly start that node using command
qrl --randomizeSlaveXMSS

The another node should be a node with pool service enabled.
You may use following command into the 2nd node (running pool service).

qrl wallet_gen
qrl -r --host 104.237.3.185 slave_tx_generate
(ma

[2018-03-10 04:50] sammy007 commented on #902
But it still need `'/home/.qrl/payment_slaves.json'` and ignores current user.

[2018-03-10 04:51] cyyber commented on #902
I have mentioned above, how to generated payment_slaves.json
Read again, my last comment.

[2018-03-10 04:52] sammy007 commented on #902
Haven't you see that it want /home/.qrl VS cirrent /home/ME/.qrl?

[2018-03-10 04:52] cyyber commented on #902
You can move that to /home/.qrl/
instead of what I mentioned above

[2018-03-10 04:53] sammy007 commented on #902
Maybe it requires a fix instead?

[2018-03-10 04:54] cyyber commented on #902
Before the hardfork yes, processes will be simplified from what it is now.

[2018-03-10 04:54] sammy007 commented on #902
Ok, I am done, 8 months after scamming people with ICO you ended up with defunct script.

[2018-03-10 04:54] cyyber commented on #902
Good luck

[2018-03-10 22:36] jfriv opened #1027 "Address query to PublicAPIService::GetObject throws error"
Requests to PublicAPIService::GetObject with a query that is an valid QRL Address result in the following error:
[code]

[2018-03-12 14:58] hdelatorre opened #1031 "Aborted (core dumped) when running start_qrl"
consistently receive this error:

python3: /usr/include/boost/multiprecision/cpp_int.hpp:1236: void boost::multiprecision::backends::cpp_int_backend<MinBits, MaxBits, SignType, Checked, Allocator>::do_assign_arithmetic(long double, const false_&) [with unsigned int MinBits = 0u; unsigned int MaxBits = 0u; boost::multiprecision::cpp_integer_type SignType = (boost::multiprecision::cpp_integer_type)1

[2018-03-13 15:54] jonlindg opened #1035 "Syncing stuck at block 18014"
Syncing stuck at block 18014. Repeating the messages
[code]

Also (in the middle of repeating the above series of messages), got the output
[code]
Sometimes it starts outputting the following over and over again:
[code]

until
`2018-03-13 16:29:10,357|0.61.3|synced| WARNING : Banned 104.237.3.185`
and then it goes back at being stuck at 18014.

Example of what the ./qrl/qrl.log contains:

[code]

[2018-03-14 14:01] ksangsu95 opened #1036 "QRL Nodes failing. Need fix"
The ip addresses for qrl nodes keep on failing. I will attach the specification below. *Currently running on Ubuntu OS via windows 10 WSL. Apparently the first ip address stated '104.237.3.185' is the only one with the successful connections and furthermore when I attempted to create a slaves.json file, it makes an error.

The error is displayed like this:

ksangsu95@4ghzM1:~$ qrl -r --host 104.23

[2018-03-14 14:04] cyyber commented on #1036
The nping sends a different kind of data, which is not understood by gRPC this is why your connection was refused. You faced error validating argument while generating slave txn because you entered the wallet address into src instead of wallet index. Make sure you have wallet.qrl in the current working directory while you generate slave_tx
and instead of providing address into src, provide the wal

[2018-03-14 14:04] #1036 closed, assigned to nobody

[2018-03-14 14:05] ksangsu95 commented on #1036
Okay thanks!

[2018-03-18 01:16] barrystyle opened #1046 "PyScaffold version bomb"
Seems to incorrectly detect setuptools being out of date, causing a cascading set of failures; preventing QRL (specifically pyqrllib and pyqryptonight) from being installed.

Hacking away the checks (and a seemingly obvious git submodule init/update) seems to result in a working installation..?

james

[2018-03-18 03:09] jleni commented on #1046
Could you provide log files about this? We have not seen this in any of our tests or reported before.

[2018-03-18 11:31] cyyber commented on #1035
Issue was related with State and Nonce assignment. Fixed on PR #1041 , #1044  #1045

Fix will be available on next hard fork.

[2018-03-18 11:31] #1035 closed, assigned to cyyber

[2018-03-19 07:29] cyyber commented on #1046
The problem, sounds to me very similar to what Travis was facing few weeks before, even when setuptools was mentioned with latest version.

[2018-03-19 08:41] barrystyle commented on #1046
Apologies for the delay, just spun up a DigitalOcean Ubuntu 16.04 VPS to get a log for you guys.
I can't get around this (without hacking PyScafford's setup.py to remove the check).
[pyscaffold.log](https://github.com/theQRL/QRL/files/1824258/pyscaffold.log)
(putty seems to echo chars a few times by the way)

[2018-03-19 20:47] cyyber commented on #1046
Hmm.. I think error is similar to https://travis-ci.org/theQRL/QRL/jobs/354971598

[2018-03-20 14:00] jleni commented on #995
Opened the issue in the wallet. Closing here

[2018-03-20 14:00] #995 closed, assigned to nobody

[2018-03-20 14:01] #982 closed, assigned to nobody

[2018-03-20 14:02] #889 closed, assigned to nobody

[2018-03-20 14:03] #304 closed, assigned to nobody

[2018-03-20 14:35] jleni commented on #900
Support for encryption is there. CLI needs to be updated.

[2018-03-20 21:50] ghost commented on #1024
It appears as though the wallet already existed and an attempt to overwrite the index wallet 0 happened.

I say because an O/S error is IO error, so it could not write to the directory or overwrite the already-existing file data. Wallet would not exist in the case of IO error (when I got this error no wallet was outputted into home ~)

[2018-03-20 22:07] ghost commented on #1046
Try uninstalling this:

``` sudo apt purge python-pkg-resources```

This should leave you with the python3 pkg resources.

If that doesn't work:
To check the manual pkg for python (not python3):

```python -c 'import pkg_resources; print(pkg_resources.__file__)'```

Then remove it (maybe)
```sudo rm /usr/lib/python2.7/dist-packages/pkg_resources.py*```

Then attempt to install python3-pkg-resource

[2018-03-21 22:49] kstuart commented on #1046
It's a compatibility issue with setuptools 39, an earlier version should work as a workaround for now, e.g: ```pip install "setuptools<39"```

Should be fixed in the next pyscaffold point release (3.0.2) in the next day or so.

Ref:
https://github.com/pypa/setuptools/blob/master/CHANGES.rst#v3900
https://github.com/blue-yonder/pyscaffold/issues/148

[2018-03-22 14:45] barrystyle commented on #1046
Appears to be fine in master now?

[2018-03-22 20:50] cyyber opened #1071 "Moving transactions back to pool which are not the part of the mainchain"
Moving transactions which are the part of forked chain, back into transaction pool, so that the transactions which are not the part of the mainchain could be reprocessed.

[2018-03-22 21:58] jleni commented on #1046
yes, it seems it got fixed. We need to upgrade qrllib and test that everything is ok when upgrading. We are actually a few versions behind at the moment.

[2018-03-23 00:13] surg0r commented on #1071
This should be added prior to mainnet. The reason this is important is that it is unlikely transactions are not on both sides of a typical fork.  However, in the event of a network failure with the p2p network fracturing and reconnecting it is possible transactions may be different on either branches of a fork.

XMSS is stateful and therefore it is critical that one-time signatures are not repeate

[2018-03-24 09:33] barrystyle commented on #902
@sammy007

perhaps try send it valid json?
you're missing a brace at the end of what you're sending.

[2018-03-24 12:08] cyyber commented on #1071
Todo
- Pending Transactions need to be broadcasted to the node
- Number of transaction might be more than what pending pool can handle, so better take help of leveldb.

[2018-03-24 13:35] cyyber opened #1084 "Genesis Block Transaction Metadata lost"
State is maintained correctly, but metadata for transactions into genesis block are lost, due to which api unable to show txn details over explorer.

[2018-03-24 13:36] cyyber opened #1085 "Double transaction hashes"
Transaction hashes added two times for token creation in AddressState.

[2018-03-24 13:38] cyyber opened #1086 "Issue while removing txn from txn pool"
Throwing Exception while removing transaction from pool when a block is added to the chain.

[2018-03-24 13:39] cyyber opened #1087 "Emission & Total unmined coins"
Node not maintaing correct value of emission and total unmined coins.

[2018-03-24 13:43] cyyber commented on #1084
Fixed on node API connected with explorer, PR is pending.

[2018-03-24 13:46] cyyber opened #1088 "Token Holders"
Keeping track of all token holders for a given token.

[2018-03-24 13:56] cyyber commented on #1087
Fixed on node API connected to explorer, PR pending.

[2018-03-24 14:17] cyyber commented on #1084
Issue fixed on PR #1089

[2018-03-24 14:17] #1084 closed, assigned to cyyber

[2018-03-24 14:17] cyyber commented on #1087
Issue fixed on PR #1089

[2018-03-24 14:17] #1087 closed, assigned to cyyber

[2018-03-24 18:30] cyyber commented on #1086
Fixed in PR #1091

[2018-03-24 18:30] #1086 closed, assigned to cyyber

[2018-03-24 19:26] cyyber opened #1093 "Avoid 0 amount txn"
All transaction with 0 amount should be considered as invalid.

[2018-03-24 20:51] surg0r opened #1094 "Address optimisation"
Current QRL addresses are treated as binary within the node/p2p layer at all times.

For human readable purposes in the CLI, webwallet and explorer, addresses are converted to hexstring format and prepended with 'Q'.

A hexstring address example would be:
`0106002686acdc89087479103b69a1094b1b96da91675adca4952aa16f51b32d93d6e1b6bd10c0`

A simple optimisation by converting addresses to base58 string

[2018-03-24 23:02] cyyber opened #1095 "pip3 install qrl (not setting environment variable)"
pip3 install qrl
Even after the installation has been finished. It doesn't set environment variable. Due to which commands like start_qrl and qrl are not working.

All testnet users are temporarily using git clone

[2018-03-24 23:03] cyyber commented on #1095
I don't see proper installation at usr/local/lib/python3.6/dist-packages

[2018-03-25 00:52] ghost commented on #1031
Same problem
did you manage to fix this ?

root@AyyPT01:~# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial
root@AyyPT01:~# gcc --version
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.9) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.

[2018-03-25 11:46] jleni commented on #1024
slaves are not necessary anymore. closing

[2018-03-25 11:46] #1024 closed, assigned to nobody

[2018-03-25 21:29] cyyber opened #1098 "Increase max_ots_tracking_index"
In config.json, increase value of max_ots_tracking_index to 16384
This will help to keep tracking of more OTS key.

[2018-03-25 21:36] cyyber commented on #1098
Plan dropped.

[2018-03-25 21:36] #1098 closed, assigned to cyyber

[2018-03-26 14:11] cyyber opened #1116 "Win10 CPU Mining issue with xmr-stak v2.3.0"
As reported by wowo in Discord, his Result was rejected by the pool when he used CPU mining with xmr-stak v2.3.0

Although older versions are working fine for him.

OS: Windows 10

[2018-03-27 16:42] jleni opened #1119 "CLI Missing Options: Hash functions"
The CLI does not provide access/options for alternative hash functions such as SHA2, SHAKE128, SHAKE256, etc.
The functionality is already implemented and needs to be exposed in the CLI

[2018-03-27 16:43] jleni opened #1120 "CLI Missing Options: Wallet encryption"
The CLI still does not support wallet encryption.
The functionality has been implemented in the node and webwallet but needs to be exposed in the CLI.

[2018-03-27 18:05] sammy007 opened #1122 "install qrl in virtualenv"
Using virtualenv:

[code]

Indeed it must install tons of deps and also generate executables. But it does not. Either I am doing something wrong or something is broken in qrl package.

[2018-03-27 20:26] sammy007 opened #1123 "Remove conflicting RPC port with Monero"
https://github.com/theQRL/QRL/blob/e59a02965ec0021265b114ccd5525de463e8f0da/src/qrl/grpcProxy.py#L230

[2018-03-27 22:07] sammy007 commented on #902
@barrystyle I am not missing a brace, only in my post it's not valid. I am using my existing stratum with this crap and it simply does not support `reserve_size` which is required for job distribution otherwise same job goes to miners and they will hash same job.

[code]

[code]

You can see `00000000` in a response, here you will put a nonce from miner, but another reserved zero bytes needed to s

[2018-03-27 22:09] sammy007 commented on #902
This commit of him demonstrates that they simply have no clue https://github.com/cyyber/node-cryptonote-pool/commit/2edca30538754c1e69b8e2b88146fb532e975519

With extra nonce option nothing will work, without extra nonce pool is not a pool.

[2018-03-27 22:10] cyyber commented on #902
@sammy007 Aware of that, work in progress with it.

[2018-03-27 22:11] sammy007 commented on #902
Okay cool. Thanks. I don't understand why you can't make grpcproxy a part of qrl already without any extra action, we need to test software and prepare servers. Any rush last moment is annoying for everyone, causes scandals.

[2018-03-27 22:12] cyyber commented on #902
@sammy007 We are looking to make that part of pip. Unfortunately, there was same change in setuptools, due to which, older pyscaffold was not working and so pip is not working right now. We had updated pyscaffold recently and changes to the project. Release will be done soon that will also include grcpProxy

[2018-03-28 09:25] surg0r opened #1127 "Revive stale tx"
Each transaction(tx) contains a signed `ots` index. In a situation where valid tx are not confirmed into the chain and eventually dropped from the memory pool, then a potential security risk occurs, potentially encouraging `ots` index re-use.

Rarely, tx propagation may fail to reach mining nodes in the usual fashion, leading to what may be termed 'stale' tx.

I would suggest the following logic t

[2018-03-28 16:06] #918 closed, assigned to nobody

[2018-03-29 00:36] Ompanime opened #1134 ""start_qrl: command not found""
Ok, I ran into this issue in two separate times. Once when I was trying to run the new QRL testnet from source, and the other was after I tried a work-around in the clone.

I was told the team already new about the first issue and was working on a solution, so I'll just report the second one.

After attempting to clone the first time which didn't work (I'll report that issue separately), I tried a

[2018-03-29 19:37] elliottdehn commented on #1127
I propose instead the following:

After each txn generation, the local wallet file OTS index is automatically incremented, and this index trumps the index that the blockchain would use. Users do not enter the index themselves through our UI, and the protocol is to use index 0, then 1, then 2...

This would make it so that when the index of the blockchain and the index of the wallet do not match, t

[2018-03-29 20:10] surg0r commented on #1127
Thanks for the suggestions, i think we have to take the opposite approach and only trust the blockchain data because most users will access the QRL via a simple webwallet approach. Thus the onus is actually upon making ots_key re-use impossible.

If a user has a Ledger or other hardware wallet and only accesses the QRL from that device then they can always override the situation of a dropped tx (a

[2018-03-29 22:01] cyyber commented on #1134
Sorry, for the trouble. Our pip installer was broken, because of update in setup-tools not supporting older version of pyscaffold. We have updated our codebase and released the latest version. Please try installing latest version of qrl. It should work fine now.

[2018-03-29 22:36] cyyber commented on #1122
Sorry, for the trouble. Our pip installer was broken, because of update in setup-tools not supporting older version of pyscaffold. We have updated our codebase and released the latest version. Please try installing latest version of qrl. It should work fine now.

[2018-03-29 23:49] sammy007 commented on #1122
Great, it works now.

[2018-03-29 23:49] #1122 closed, assigned to nobody

[2018-03-30 10:16] cyyber commented on #1093
Added in PR #1145

[2018-03-30 10:16] #1093 closed, assigned to cyyber

[2018-03-30 12:41] Ompanime commented on #1134
It's working thanks!

[2018-03-30 13:10] #1134 closed, assigned to nobody

[2018-03-30 20:54] sammy007 commented on #902
I see some commits related to extra nonce over last 3 days, is it supposed to be fixed? If yes, here is my output using 6a35a6d3150507f8e99f88263cee44ec3a9f6ccb:

[code]

`reserved_offset: 0` is kinda strange. And I am getting `unexpected keyword argument 'reserve_size'` as well.

[2018-03-30 20:54] cyyber commented on #902
You need to wait for next hard fork & release.

[2018-03-30 21:24] barrystyle commented on #902
@sammy007 you're aware several pools (including myself) were using that modified cryptonote repo with no issues? as far back as a week (or further) and successfully solving blocks..
the job of any stratum is to divide the nonce ranges to scan equally per miner; thats not purely up to extranonce itself..

[2018-03-30 21:33] sammy007 commented on #902
OMG stop teaching me ok? I am talking about interface. I see it clearly that there is extra 4 bytes available now, hence 8 total.

[2018-03-30 21:41] sammy007 commented on #902
Currently there is uint32 for extra nonce. I would like to specify reserve size of 8 bytes vs default 4 hence it will be possible to shard stratums with the same block template. That's how it works in Monero. I was just confused that there is no way currently to request more. According to @cyyber I assume it will be implemented soon.

[2018-03-30 21:42] cyyber commented on #902
It has been implemented, we were testing the pool. Commit will be available soon.

[2018-03-31 01:45] ghost opened #1149 "Wallet_secret cli.py error"
when running wallet_secret:

[code]

[2018-03-31 11:12] cyyber commented on #1149
Fixed in PR #1151 . will be available on next release.

[2018-03-31 11:12] #1149 closed, assigned to cyyber

[2018-03-31 21:15] kprimice opened #1156 "NTP servers"
I try to use my own ntp server.
I updated config.yml with: `ntp_servers: ntp1.myntp.com`
After start_qrl I get:

[2018-04-01 12:58] surg0r opened #1159 "Bans should be configurable"
Some `IP:ports` should be user configurable via a `whitelist` to not be banned in the usual fashion, or to have reduced ban time periods. This should be set in the node config file.

This may help keep explorer up to date during very heavy tx/network loads.

[2018-04-01 13:31] cyyber commented on #1156
Can you please provide more details of your ntp server? Which NTP Server are you using? Whats your OS?

[2018-04-01 13:42] kprimice commented on #1156
It is a private ntp server. If I don't use a custom config file I get:

Then if I try to use my private ntp server, or pool.ntp.org/ntp.ubuntu.com in a custom config file I get the same output:

I am running the node inside a Docker container running ubuntu 16.04

[2018-04-01 14:38] cyyber commented on #1156
Something must be blocking your internet connection. Please check if your network is working fine inside docker.

[2018-04-01 18:16] kprimice commented on #1156
The network seems to work. When I `ntpdate -q my.ntp.org` I get:

[2018-04-01 18:39] cyyber commented on #1156
Are you executing the above command, inside the docker container. Or are you simply executing the command over your host machine?
Make sure you execute the above command inside the docker container, and not over your host machine.

[2018-04-01 18:47] kprimice commented on #1156
Indeed, it was executed inside the container

[2018-04-01 18:52] cyyber commented on #1156
In your above message, you said that "I updated config.yml with: ntp_servers: ntp1.myntp.com"
Please try with my.ntp.org

[2018-04-01 19:12] kprimice commented on #1156
Until now I was launching the node on a private network where there was only a private ntp available.
I just tried on a more open network where I can use the default ntp. It works without using a custom config.xml.

However I tried using a custom config.xml with the default ntp. So I just added: `ntp_servers: pool.ntp.org` and I got this:

[2018-04-01 19:18] cyyber commented on #1156
Something must be blocking your connection to the pool.ntp.org
Its working fine on our nodes. Try few servers mentioned here https://tf.nist.gov/tf-cgi/servers.cgi

[2018-04-01 19:23] cyyber commented on #1156
Can you paste here your config.yml ?

[2018-04-01 19:25] kprimice commented on #1156
Well it is working fine when I don't use a config.xml file. So I don't think it comes from my connection.
And when I use a config.yml, it is the default one provided with everything commented but one line: `ntp_servers: pool.ntp.org`
I will try a couple of other servers but I don't think it will change anything. And the error messages I get look weird, like a parsing issue:

[2018-04-01 19:45] cyyber commented on #1156
it should be like following
[code]

[2018-04-01 19:56] kprimice commented on #1156
Perfect. It's working.

[2018-04-01 19:56] #1156 closed, assigned to nobody

[2018-04-02 08:55] ghost opened #1160 "Mobile website"
You guys should make the wallet website mobile friendly

[2018-04-02 11:19] cyyber commented on #1123
Changed to 18090 in PR #1162

Changes will be effective from next release.

[2018-04-03 19:59] jonlindg opened #1169 "Problem installing (updating) QRL client"
I followed the documentation to update my QRL client to the newest version:
[code]

The installation fails, with error message:

[code]

QRL Command Line Interface version: 0.61.3
pip3 version: 9.0.3
python3 version: 3.5.2
Ubuntu 16.04 LTS

Edit: gcc/g++ version is 5.4.0
[code]

[2018-04-03 20:36] cyyber commented on #1160
Issue related to https://github.com/theQRL/qrl-wallet
@scottdonaldau

[2018-04-03 22:07] scottdonaldau commented on #1160
Duplicate of https://github.com/theQRL/qrl-wallet/issues/40

[2018-04-03 22:07] #1160 closed, assigned to nobody

[2018-04-04 07:32] #1123 closed, assigned to cyyber

[2018-04-04 19:30] epb5119 opened #1172 "XMR-STAK-Nvidia results showing GPU Compute Error"
99% share are rejected due to "GPU Compute Error".  Any idea what the problem is?
Running XMR-STAK-Nvidia on 6xGTX1080TI rig.
Windows 10
Pool: QRLMINING.com
threads: 32
blocks: 84
bfactor: 6
bsleep: 25
affine to cpu: false

[2018-04-04 19:33] cyyber commented on #1172
Tried with latest version of xmr-stak here https://github.com/fireice-uk/xmr-stak/releases

Make sure you choose cryptonight as the algorithm.

[2018-04-04 19:36] jleni commented on #1172
Are you overclocking your GPUs?

There have been some people in xmr-stak reporting similar problems in the past:
https://github.com/fireice-uk/xmr-stak-amd/issues/181
https://github.com/fireice-uk/xmr-stak-nvidia/issues/124

[2018-04-04 20:01] epb5119 commented on #1172
Default settings on core and mem.
Power Limit is set to 75%

Basic responses point to not using this miner and moving to XMR-STAK Unified all in One Monero miner. That gives a different error.

[2018-04-04 20:01] #1172 closed, assigned to nobody

[2018-04-04 22:01] jonlindg commented on #1169
Uninstalled qrl and then tried again, still have the same issue.

[2018-04-06 22:18] jleni commented on #1169
It seems to be related to the boost version you have

It is strange we have not seen this is integration tests.

[2018-04-07 07:32] jleni commented on #1095
@cyyber I think this has been fixed already. Should this issue be closed?

[2018-04-07 07:33] #1046 closed, assigned to jleni

[2018-04-07 07:34] jleni commented on #771
@cyyber is it possible to close this one?

[2018-04-07 07:36] jleni commented on #632
Work in progress. Initial changes were introduced in #1170

[2018-04-07 07:37] jleni commented on #900
@cyyber CLI support is complete?
@randomshinichi remember to close this issue once the unit tests for this feature are ready.

[2018-04-07 07:40] jleni commented on #900
Sorry, CLI adjustments are tracked by issue #1120
It is possible to close this issue

[2018-04-07 07:40] #900 closed, assigned to nobody

[2018-04-07 07:40] jleni commented on #1120
@randomshinichi This is actually the issue that you need to close once the unit tests are ready

[2018-04-07 07:41] jleni commented on #709
@randomshinichi could you verify this is fixed in a test?

[2018-04-07 07:42] jleni commented on #708
This is a duplicate of #709

[2018-04-07 07:42] #708 closed, assigned to nobody

[2018-04-07 08:17] jleni commented on #1031
Tested with
https://hub.docker.com/_/ubuntu/
Docker Image ubuntu:xenial

I could not reproduce the problem. I will keep investigating.
It has been reported that it was possible to reproduce using Ubuntu via WSL in Windows 10

[2018-04-07 10:28] jonlindg commented on #1169
The issue is that I have two boost installed, one in usr/local/include and one in usr/include. Typing
`dpkg -s libboost-dev | grep 'Version'`
gives me version 1.58 (which is the usr/include version), and if I try to upgrade it is going to tell me I have the latest version. However, when installing qrl, cmake instead finds the /usr/local/include version and thus complains.

Setting the environmenta

[2018-04-07 15:04] jonlindg commented on #1169
I solved the issue, although I am not sure this is the recommended method. I modified the FindBoost.cmake file, and added
`set(ENV{BOOST_ROOT} "/usr/include")`

This will make sure that cmake finds the correct version of boost.

[2018-04-09 08:02] #1095 closed, assigned to nobody

[2018-04-09 08:19] jleni commented on #1031
@jplomas: I've just tried installing in Windows 10 WSL (Ubuntu) and I could not reproduce the problem.
@GasGeverij I used identical compilers (gcc/g++), It seems unlikely is related to that. I should have had the same problem.

I will move to setting up an AWS machine as per @hdelatorre repro steps

[2018-04-09 09:26] ghost commented on #1031
Mine was on a vultr.com machine

[2018-04-09 09:42] randomshinichi commented on #709
It works perfectly. We should close this issue.

[2018-04-09 10:27] jleni commented on #1031
So I've tested 0.62.4 in AWS

Instance-type: t2.micro
AMI ID: ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20180222-d83d0782-cb94-46d7-8993-f4ce15d1a484-ami-ee4eac93.4 (ami-f6cef993)

Followed the instructions and it seems to be working well. I have not seen any core dump.
It is a tiny bit newer AMI but I dont think that is something significant.

[2018-04-09 11:55] ghost commented on #1031
Yeah cyy also indicated it works fine on AWS, rather not eveyone has a credit card.
It's something with vultr and probably virtual ocean since i think vultr is a resseler of dg.

[2018-04-09 11:57] jleni commented on #1031
I will try with vultr later today then.
Any specific configuration you would suggest me to try?

[2018-04-09 13:42] ghost commented on #1031
Not really, eveything was just updated, and qrl was pulled from source.

[2018-04-09 18:15] som-dev commented on #1027
I tried to reproduce this in v0.62 but could not do so.  Do you still see this issue?  Was there a particular client language you were using to access the API?  Or maybe a specific address that caused the issue?

[2018-04-09 18:22] cyyber commented on #1027
Issue was fixed on PR #1037

[2018-04-09 18:22] #1027 closed, assigned to cyyber

[2018-04-10 13:22] randomshinichi commented on #941
I installed versioneer, but it's not working somehow...
https://github.com/warner/python-versioneer/issues/179

[2018-04-10 13:30] #709 closed, assigned to nobody

[2018-04-10 15:28] cyyber opened #1198 "Decimal Limitation on TokenTransaction"
A condition to verify the limit of decimal limitation while creating token is required.
max decimals = 19 - log10(max amount) - 1

[2018-04-10 20:24] jleni commented on #1031
Fixed in https://github.com/theQRL/qryptonight/pull/47.

The fix will be available in the next release.

[2018-04-10 20:24] #1031 closed, assigned to jleni

[2018-04-10 20:36] jleni commented on #1031
@GasGeverij so I could reproduce the bug in a vultr host.

Oddly enough, it was not happening in the 1CPU+1024MB. I managed to have the crash in a 4CPU+8192MB host.

The fix will come with 0.63.x that is planned to be released in a few more days.

[2018-04-10 21:01] #632 closed, assigned to nobody

[2018-04-11 07:34] jleni commented on #1116
The most recent xmr-stak versions can now use the new monero PoW algorithm.
QRL <= 0.62.x still uses standard cryptonight
QRL >= 0.63.x will use the new monero7

if you want to use xmr-stak (2.4.2 at the moment), when running the configuration:
- For QRL <=0.62.x choose  cryptonight
- For QRL >=0.63.x choose monero7

If you already have the configuration files, change the "currency" in pools.txt a

[2018-04-11 07:34] #1116 closed, assigned to jleni

[2018-04-12 11:42] randomshinichi opened #1211 "Wallet encryption: why is Qaddress encrypted?"
I don't want to risk being keylogged just because I need my Qaddress to copypaste somewhere.

Juan's idea:
Primary concern: keep backwards compatibility, with web/desktop wallets. add an additional field called name, which defaults to the Qaddress.

Rebuttal: users might never assign a name then because they'd lose convenience. Also, more functionality would need to be written to manage the name.

[2018-04-12 12:04] randomshinichi opened #1213 "CLI, Wallet should be able to handle token migration era wallets in the future"
Token migration just started, we need tests to ensure that Wallet() will not throw errors while loading current wallet.json format (0.62.x).

[2018-04-13 05:23] kprimice opened #1215 "Node crash at startup"
Logs of the crash:

The node is running inside a docker container. Mining is turned off in the config file.

[2018-04-13 17:47] cyyber commented on #1215
Can you provide the Dockerfile here, so that we can generate the same container and look into the issue further?

[2018-04-13 17:55] kprimice commented on #1215
[code]

[2018-04-13 18:39] cyyber commented on #1215
I ran the above docker file. And the container is working fine for me. Node is able to sync and I don't see any problem in it.

[2018-04-15 01:55] cyyber opened #1222 "New rule to invalidate Transaction"
A transaction having master_addr equals to the address derived from the signing PK, then it should be considered as invalid transaction. As master_addr is only need to be specified when transaction is made from the slave txn.

[2018-04-15 01:56] #1215 closed, assigned to nobody

[2018-04-15 12:52] cyyber commented on #1222
Done in PR #1223

[2018-04-15 12:52] #1222 closed, assigned to cyyber

[2018-04-15 22:40] jfriv commented on #1027
Thanks @cyyber !  If I was more experienced with python I would have attempted a fix myself

[2018-04-17 12:34] randomshinichi commented on #1213
- [ ] wallet versioning: 0 is current format, 1 is future format with unencrypted Qaddress.
- [ ] Wallet unit test for both versions

[2018-04-17 12:51] jleni commented on #1213
Let's track this functionality in issue #1211

[2018-04-17 12:51] #1213 closed, assigned to nobody

[2018-04-17 12:54] jleni commented on #1211
A version field will be added to wallet json files.
Files without a version number (<0.62.x) will be assumed to be version = 0.

Starting from version 1, the address field will be kept unencrypted.
Unit tests for each version number should be added to the code base.

The web wallet needs to be adjusted to accordingly.

[2018-04-17 19:54] som-dev opened #1230 "python tests occasionally hang and do not complete"
I was running the QRL master branch python tests and on one occasion it locked up and couldn't finish.  I then decided to run the tests in a loop and I found that within minutes of continuous running, the tests will hang and make no further progress.  Sometimes it happens immediately and sometimes it takes awhile.  Thinking there was a problem with parallel tests, I changed pytest.ini from -n 8 to

[2018-04-17 20:34] jleni commented on #1230
Thanks! I will investigate this

[2018-04-18 09:56] pollodigomma opened #1231 "Node stuck around block_height 12000-13000"
The node (v0.62.4) believes to be synced and keeps looping within block heights 12000-13000 (approximately). I tried once to delete ~/.qrl/data and restart the node but it got back to the same state (and at around the same heights).

eg.:
[code]
some minutes later...
[code]

[2018-04-18 09:59] cyyber commented on #1231
Please share qrl.log

[2018-04-18 10:18] pollodigomma commented on #1231
Last 25000 lines:
[qrl.last.log](https://github.com/theQRL/QRL/files/1923504/qrl.last.log)

[2018-04-18 10:29] cyyber commented on #1231
Looked to the logs, your node is maintaining cache, and we had lots of spam transactions between blocknumber 12,000 to 13,000 and so its taking time to make the cache. The state mechanism has been improved and will be available in next HF. For now you can keep running the node, it will get itself synced, but will take time.

[2018-04-18 12:21] jleni commented on #1230
We are still investigating. Some thread leaking is documented here. PR #1233
We will add one more job for pytest repeated tests to see if we can reproduce it in CI.

[2018-04-19 14:22] cyyber commented on #1085
Issue was caused by having same master_addr and address from public key. A check to invalidate such transaction has been added into PR #1223

[2018-04-19 14:22] #1085 closed, assigned to cyyber

[2018-04-19 14:22] #1231 closed, assigned to nobody

[2018-04-19 14:28] cyyber opened #1237 "Slow Synchronization while mining enabled"
The node synchronize very slowly when mining is enabled and syncing is running at the same time. This happens since the node mines the block while syncing resulting into rollback as well as, due to lower difficulty node mines blocks pretty quickly.

[2018-04-19 14:47] cyyber commented on #1071
Done in PR #1236

[2018-04-19 14:47] #1071 closed, assigned to cyyber

[2018-04-19 17:34] cyyber commented on #1237
Issue fixed in PR #1238

[2018-04-19 17:34] #1237 closed, assigned to cyyber

[2018-04-19 19:27] #941 closed, assigned to jleni

[2018-04-19 19:29] jleni commented on #941
Functionality added in PR #1234

[2018-04-19 19:49] jleni commented on #1198
It would be a good idea to verify the formula and add positive/negative tests.
There are some disabled tests here:
https://github.com/theQRL/QRL/blob/20700bbe1be2622e563c9c226ee7d76bdc582b31/tests/tools/test_cli.py#L734

the proto definition uses uint64t. That limits the max value to 18,446,744,073,709,551,615.
depending on the max amount defined for the token, the number of decimal positions shou

[2018-04-19 19:55] jleni commented on #1169
This is actually a qryptonight issue. I will open an issue in qryptonight and reference this one.

[2018-04-19 19:55] #1169 closed, assigned to nobody

[2018-04-19 20:01] jleni commented on #1159
Please include negative/positive test cases

[2018-04-19 20:03] jleni commented on #937
This seems to have been fixed in Ubuntu. The issue serves as a reference for future users.

[2018-04-19 20:03] #937 closed, assigned to nobody

[2018-04-19 20:05] jleni commented on #771
We need help checking if the bug is still reproducible. In that case, a fix would be ideal.

[2018-04-19 20:06] jleni commented on #760
It is very likely that this issue is obsolete but it would be ideal if someone could verify.

[2018-04-19 20:16] jleni opened #1240 "CLI unit tests are leaking threads"
The unit tests seem to be leaking resources.

PR #1233 shows how to enable leak detection and reproduce the problem.

We would like to apply a fix to PR #1233 and solve any leaking issues in those tests.

[2018-04-20 08:22] cyyber commented on #1127
A transaction in the pool is now considered as stale txn on the basis of blocknumber, for now its configured as 15. Transaction pool is checked for stale txn, each time a block is added to the mainchain.
PR #1241

[2018-04-20 08:22] #1127 closed, assigned to cyyber

[2018-04-20 08:34] randomshinichi commented on #1240
Seems to be an issue with gRPC CleanupThreads, used by Channels.
gRPC docs make no mention of having to cleanup after channels.
Channel has no close() function. `del stub, del channel` doesn't work either.

[2018-04-20 08:41] cyyber commented on #771
Fixed in PR #1242

[2018-04-20 08:41] #771 closed, assigned to cyyber

[2018-04-20 09:50] seanlis commented on #760
Haven't run QRL on this board for a while, maybe I'll set up a node again when I have time.

[2018-04-23 09:37] #1240 closed, assigned to nobody

[2018-04-23 11:26] jleni commented on #1211
Functionality incorporated in #1239

[2018-04-23 11:26] #1211 closed, assigned to scottdonaldau, randomshinichi

[2018-04-23 11:27] jleni commented on #1120
Functionality incorporated in #1239

[2018-04-23 11:27] #1120 closed, assigned to randomshinichi

[2018-04-23 11:28] #1119 closed, assigned to randomshinichi

[2018-04-23 13:38] jleni opened #1253 "Migrate Pypi deployment from Travis to CircleCI"
To complete the migration from Travis to CircleCI we would need to setup pypi deployment in CircleCI

[2018-04-23 21:35] cyyber commented on #1198
Issue fixed in PR #1257

[2018-04-23 21:35] #1198 closed, assigned to cyyber

[2018-04-25 14:26] randomshinichi commented on #1230
https://github.com/theQRL/QRL/pull/1243
https://github.com/theQRL/QRL/pull/1256

These should have fixed the problem.

[2018-04-25 14:38] jleni commented on #1253
Done in PR #1259

[2018-04-25 14:38] #1253 closed, assigned to nobody

[2018-04-30 07:57] cyyber opened #1284 "banned_peers not working properly"
- banned_peers are not working properly
- Issues are also with too many file descriptors remained open

[2018-04-30 08:02] cyyber opened #1285 "MessageTransaction resulting into failure in Block parsing"
MessageTransaction are added into the block, but when the block containing message transaction transmitted to other nodes, then they fail to parse the block message properly.

[2018-04-30 08:52] cyyber opened #1286 "Add Version into Peers State Data"
Add Node Version into peers state data, so that same could be displayed over Block Explorer Peers.

[2018-04-30 08:55] cyyber opened #1287 "Remove Orphan Block logic"
Remove all logic related to Orphan Block, including the changes over the Block metadata.

[2018-04-30 08:57] cyyber opened #1288 "Changes into Block acceptance"
Accept only blocks which are 7 blocks behind current block and 32 blocks ahead of current block. It doesn't limit the block downloading for last 7 blocks, block downloading limit will still be upto maximum possible reorg limit.

[2018-04-30 09:00] cyyber opened #1289 "Alternate chain Block validation"
No need to validate the block state for the alternate chain. Only validate the PoW for the blocks in alternate chain.  State validation for the blocks in alternate chain will only happen, in case the alternate chain cumulative difficulty exceeds the current chain's cumulative difficulty. In case the alternate chain, state validation fails, then roll back to original mainchain.

[2018-04-30 15:19] cyyber opened #1292 "Update NTP drift value"
NTP drift value calculated once when the node starts, this could cause trouble if the node is running for long time. Drift value must be asynchronously updated, after every X hours.

[2018-04-30 17:46] jleni opened #1293 "Transactions - signed blobs are only hashed with sha2_256"
Transactions before being signed are hashed with SHA2_256.
Descriptor's hash function is not considered or applied.

[2018-05-02 09:17] jleni opened #1297 "pyLevelDB is obsolete"
The leveldb dependency is not maintained.
It is important that QRL migrates to another db

[2018-05-03 21:03] cyyber opened #1304 "Limit Number of IPs in Peer List"
A Peer should only reply only requested number of IPs in Peer List.

[2018-05-10 05:57] seanlis opened #1322 "Larger extra nonce"
Some pool codebase may require a larger extra nonce.
For example, [nodejs-pool](https://github.com/Snipa22/nodejs-pool/blob/4853b1b98338c2f5a1934fab5c446f38777e1318/lib/coins/xmr.js#L119) requests blocktemplate with a 'reserve_size' of [17 bytes](https://github.com/Snipa22/nodejs-pool/blob/4853b1b98338c2f5a1934fab5c446f38777e1318/lib/coins/xmr.js#L80) to accommodate the nonce for it's  [xmr-node-p

[2018-05-10 13:05] cyyber commented on #1322
Thank you for raising the issue. We will discuss with our team and will explore the further possibilities.

[2018-05-16 15:16] som-dev opened #1324 "Unknown transactions on remote and local nodes"
I am running v0.63.0 and I started noticing some addresses had mismatching quanta when comparing my local block explorer vs. the explorer.theqrl.org block explorer.  My local node appeared to be in-sync with the remote in that they both agreed on the most recent block number and time.

I wrote a script to retrieve an address_state and then attempt to retrieve each transaction from the address_stat

[2018-05-16 16:55] cyyber commented on #1324
Can you rerun the same command and also let us know the exact blockheight of your node?

[2018-05-16 17:01] cyyber opened #1325 "Adding Timestamp for the Transaction in Transaction Pool"
Timestamp needed to be added for the transaction in Transaction Pool and same has to be exposed to the Public API.

[2018-05-16 17:16] som-dev commented on #1324
My node's last block as reported in the log at 12:04 CT:
[code]
Here is a rerun of my script making the api calls at 12:04 CT (the output looks the same as the first run):
[code]

[2018-05-16 17:18] som-dev commented on #1324
That script connecting to the remote takes awhile, now my node reports:
[code]

[2018-05-16 18:02] cyyber commented on #1324
@som-dev Can you run following command on your local node
qrl state
Please paste the output of the above command here. This will let us know your current chain state.

[2018-05-16 18:31] som-dev commented on #1324
~/dev/som-dev/qrl-audit$ date; qrl state
Wed May 16 13:31:07 CDT 2018
info {
  version: "0.63.0"
  state: SYNCED
  num_connections: 3
  num_known_peers: 116
  uptime: 170267
  block_height: 27024
  block_last_hash: "\2255\260|\353\007\210\214\254\033\2040\231fG\251\346\221\331-\217\311p\255\315\303\216\231R\330\000\000"
  network_id: "Outside Context Problem"
}

[2018-05-17 09:26] cyyber commented on #1324
I see the block explorer have the correct value. As I started another node that synced from block number 0 and that node shows the same value. I will need the qrl.log file from you, so that I can further look into what happened with your localnode.

[2018-05-17 16:04] som-dev commented on #1324
I uploaded all qrl logs to https://transfer.sh/t6Sny/qrl_logs_issue1324.zip

[2018-05-17 16:35] som-dev commented on #1324
I noticed my local node was receiving data from 104.237.3.185 this morning.
When I ran my custom tool to pull every transaction in the address_state it reported no issues.  So as you mention, there are definitely good nodes out there.
[code]

[2018-05-18 13:34] cyyber commented on #1325
Done in PR #1326 #1327 #1328

[2018-05-18 13:34] #1325 closed, assigned to cyyber

[2018-05-19 22:28] cyyber commented on #1324
Is this possible for you to share your leveldb data?

[2018-05-19 23:09] som-dev commented on #1324
Sure, no problem!  What is the best way to do that?  Stop the node and zip up the entire ~/.qrl/data folder?

[2018-05-19 23:10] cyyber commented on #1324
yes stop the node and zip up entire ~/.qrl/data folder
also share your node config

[2018-05-20 06:55] som-dev commented on #1324
After multiple failed attempts at uploading a 600MB+ file to various file sharing services, I finally recalled the "split" command which brings me back...
I have 6 parts:
https://transfer.sh/X4zs1/qrl_data_issue1234.zip.partaa
https://transfer.sh/H2d1l/qrl_data_issue1234.zip.partab
https://transfer.sh/hL4s4/qrl_data_issue1234.zip.partac
https://transfer.sh/FTjgg/qrl_data_issue1234.zip.partad
https

[2018-05-20 08:44] manoynmonic opened #1330 "Pyqryptonight wheel fails to build"
Python 3.5 on Debian Stretch x86 machine.  Trying just to install from pip, but it always fails at building the pyqryptonight wheel, and of course fails to install pyqryptonight after that.  Other wheels build fine.

[2018-05-21 02:39] manoynmonic commented on #1330
Dang.  It's not you, it's me.  Old cpu.
$cpuid | grep -i aes
AES instruction                         = false

[2018-05-21 02:39] #1330 closed, assigned to nobody

[2018-05-21 16:32] cyyber commented on #1324
Thanks for reporting. Issue has been fixed in PR #1334 .
Fix will be included in the next release of QRL node.

[2018-05-21 16:32] #1324 closed, assigned to cyyber

[2018-05-21 18:03] som-dev opened #1335 "Retrieval of non-existent block with API responds with found=true"
Minor issue.  Using version 0.63.0 and experimenting with the API I noticed if I request a block that does not exist, the API does not return anything but still reports found as true.
[code]

[2018-05-21 18:48] cyyber commented on #1335
Fixed in PR #1336
Fix will be available on next release.

[2018-05-21 18:48] #1335 closed, assigned to cyyber

[2018-05-24 11:31] eor68k commented on #1330
Same issue but running an Intel J3355 Processor (2.5 GHz, Dual-Core) with AES-NI enabled.

Confirmed AES instruction = true

[2018-05-24 11:45] eor68k opened #1339 "Pyqryptonight wheel fails to build (AES instruction = true)"
1) Bog standard installation of Ubuntu 16.04 Server

     -- ASRock ITX Motherboard
     -- CPU: Intel J3355 Processor (2.5 GHz, Dual-Core)
     -- 8GB DDR3 RAM
     -- 250GB Samsung SATA HDD

2) Desktop Environment installed and enabled

3) pip3 installed and updated

4) Pyqryptonight wheel fails after "sudo pip3 install -U qrl" stage of QRL Full Node Instructions (https://docs.theqrl.org/mining/

[2018-05-24 16:24] jleni commented on #1339
@eor68k Thanks for reporting this.
Receiving the log files would be very useful!

[2018-05-24 16:30] jleni opened #1340 "IPv6 support"
Add support for IPv6

[2018-05-25 01:05] jleni commented on #750
This issue has not received any response for a long time. In addition, other instances have not been reported. Closing.

[2018-05-25 01:05] #750 closed, assigned to nobody

[2018-05-25 01:06] fr1t2 opened #1342 "Create ~/.qrl/config.yml file on install and populate with default settings"
Create upon install a config file in the default directory with all settings commented out. Allowing users an easy way to modify the default settings. Below is an example that may need some work, but is a start.
[code]

[2018-05-25 01:08] jleni commented on #1293
Relabeling after internal discussions

[2018-05-25 01:10] jleni commented on #1230
Is this fixed or there are still occurrences?

[2018-05-25 17:22] som-dev commented on #1230
Unfortunately I will not have development access for a week. If someone can
run the tests in a loop for an hour that should cover it, otherwise I can
retest next week.

On Thu, May 24, 2018, 9:10 PM Juan Leni <notifications@github.com> wrote:

[2018-05-25 17:34] jleni commented on #1230
@som-dev Thanks for you answer. I will setup something to let them run continuously for an hour.

[2018-05-26 01:30] Ompanime opened #1348 "Wallet not showing the correct amount of Quanta"
Looking up my address (Q0106001a5feb3ca2aa716eaa4667e8e5c1d6b34fe5917bbdd2843cff1c601f1fb06d903611dee8) on the blockchain reveals that I have 17,539 Quanta (which is the correct amount). Although, when I open my wallet, it shows that my balance of Quanta is only 7,520. I tried sending 20 Quanta (with a n additional fee of 1 Quanta) to a different address to see if the balance displayed in my walle

[2018-05-26 01:36] scottdonaldau commented on #1348
Hey there @Ompanime It appears the primary wallet node has been stuck for some time, and is not in sync with the chain. We'll get this fixed up ASAP.

The primary wallet node is: 35.177.60.137

You can see on the explorer its block height is somewhat behind, which would explain this issue.

https://explorer.theqrl.org/peers

I'll release and update to the wallet momentarily to change the primary n

[2018-05-26 01:46] scottdonaldau commented on #1348
Hey @Ompanime

Can you please refresh the wallet website and try again? Make sure you've selected Testnet Node 1 at the top right.

Cheers,
Scott

[2018-05-26 18:02] Ompanime commented on #1348
Hey Scott, I did what you said and the balance displayed in my wallet is now correct, and matches what is shown on the block explorer! Thank you!

[2018-05-26 23:40] scottdonaldau commented on #1348
Good to hear - we'll make sure the operational work we do behind the scenes prevents this in future :)

[2018-05-26 23:40] #1348 closed, assigned to scottdonaldau

[2018-05-27 07:33] eor68k commented on #1339
*****@q*****:~$ cpuid
CPU 0:
   vendor_id = "GenuineIntel"
   version information (1/eax):
      processor type  = primary processor (0)
      family          = Intel Pentium Pro/II/III/Celeron/Core/Core 2/Atom, AMD Athlon/Duron, Cyrix M2, VIA C3 (6)
      model           = 0xc (12)
      stepping id     = 0x9 (9)
      extended family = 0x0 (0)
      extended model  = 0x5 (5)
      (simple synth)

[2018-05-27 07:34] eor68k commented on #1339
*****@*****:~$ cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 92
model name	: Intel(R) Celeron(R) CPU J3355 @ 2.00GHz
stepping	: 9
microcode	: 0x2c
cpu MHz		: 1500.000
cache size	: 1024 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 2
apicid		: 0
initial apicid	: 0
fdiv_bug	: no
f00f_bug	: no
coma_bug	: no
fpu		: yes
fpu_exception	: yes
cpuid level	: 21

[2018-05-27 07:34] eor68k commented on #1339
*****@*****:~$ sudo pip3 install -U qrl
[sudo] password for ******:
Collecting qrl
Requirement already up-to-date: Flask==0.12.2 in /usr/local/lib/python3.5/dist-packages (from qrl)
Requirement already up-to-date: Twisted>=17.5.0 in /usr/local/lib/python3.5/dist-packages (from qrl)
Requirement already up-to-date: json-rpc==1.10.8 in /usr/local/lib/python3.5/dist-packages (from qrl)
Collecting mock

[2018-05-27 11:11] jleni commented on #1339
It seems you have installed a 32-bit OS. And there seems to be an error in one the dependencies (xmr-stak) that does not seem to support 32-bit build. (funny error message by the way)

#error You are trying to do a 32-bit build. This will all end in tears. I know it.

Unfortunately, I am not sure we can give a lot of priority to this issue if that is the case. Any change you could try compiling th

[2018-05-27 11:54] eor68k commented on #1339
Sure! I'll reinstall on a 64-bit OS, rinse, and repeat. Will advise.

[2018-05-27 13:15] eor68k commented on #1339
Ubuntu Desktop 16.04 LTS (AMD64) worked! Clean install.

There were a few teaks to the published instructions on TheQRL.org -- notably, the use of sudo and installing/updating pip3 and setup tools. Otherwise, it worked as advertised.

Thanks!

[2018-05-27 13:30] jleni commented on #1339
@eor68k Good to hear.
With respect to the docs, @fr1t2 can help with that. Maybe he can follow up.
I would say we should also indicate too that a 64-bit OS is required.

[2018-05-27 13:30] #1339 closed, assigned to nobody

[2018-05-31 19:05] cyyber commented on #1292
https://github.com/theQRL/QRL/pull/1363

[2018-05-31 19:05] #1292 closed, assigned to cyyber

[2018-06-01 00:29] jleni commented on #760
Closing as no new instance has been reported for a long time. If necessary, feel free to reopen.

[2018-06-01 00:29] #760 closed, assigned to jleni

[2018-06-01 01:32] jleni commented on #992
@cyyber Is this issue still relevant?

[2018-06-01 01:35] jleni commented on #1230
Ran the tests continuously for 6 hours

[code]

Closing for now, feel free to reopen if there this is still reproducible
.

[2018-06-01 01:35] #1230 closed, assigned to nobody

[2018-06-01 05:51] cyyber commented on #1285
Issue was not noticed during last test.

[2018-06-01 05:51] #1285 closed, assigned to cyyber

[2018-06-01 05:57] cyyber commented on #992
Not yet observed in v0.63

[2018-06-01 05:57] #992 closed, assigned to nobody

[2018-06-01 08:29] cyyber commented on #1287
Completed in PR #1367

[2018-06-01 08:29] #1287 closed, assigned to cyyber

[2018-06-01 09:03] cyyber commented on #1288
Completed in PR #1295

[2018-06-01 09:03] #1288 closed, assigned to cyyber

[2018-06-02 15:38] cyyber commented on #1289
Completed in PR #1369

[2018-06-02 15:38] #1289 closed, assigned to cyyber

[2018-06-05 23:00] som-dev opened #1381 "Able to mine a block with no merkle_root set"
On the v0.63 chain I mined block 56277 without setting a merkle_root.

Seems like maybe the merkle_root should be validated if the field is present?  Reading up, it seems that the field is more useful for SPV applications that just use headers so maybe not critical now but perhaps in the future?

[code]

[2018-06-05 23:50] cyyber commented on #1381
Fixed in PR https://github.com/theQRL/QRL/pull/1382
Fix will be effective from next hard fork.

[2018-06-05 23:50] #1381 closed, assigned to cyyber

[2018-06-07 20:43] randomshinichi opened #1387 "test_cli: malformed Kyber PK is still accepted and transmitted by CLI"
Covered in test_tx_latticepk_invalid_input.
An exception should be thrown/error message, and return code should not be 0.

Offending function: cli.tx_latticepk()

[2018-06-07 20:45] randomshinichi opened #1388 "P2PChainManager: handle_block_height checks incoming message for bhData and chainStateData"
A message can only have either bhData or chainStateData, but P2PChainManager.handle_block_height uses both.

Covered in test_p2pChainManager: test_handle_block_height_incoming_information

[2018-06-07 20:47] randomshinichi opened #1389 "P2PFactory: if connected to 1.1.1.1:9000, you can fool it into reconnecting by connecting to 1.1.1.1"
Offending function is P2PFactory.connect_peer()
Described in test_connect_peer_already_connected()

[2018-06-07 20:50] randomshinichi opened #1390 "P2PPeerManager does not check for empty peer list in correct fashion"
handle_peer_list() has this line:
`if message.plData.peer_ips is None`
which fails to do its job when message.plData.peer_ips = []

It should be
`if not message.plData.peer_ips`

Covered in test_p2ppeermanager.test_handle_peer_list_empty_peer_list_message()

[2018-06-07 20:52] randomshinichi opened #1391 "P2PProtocol._parse_buffer() does not complain when fed invalid bytestream"
Described in test_p2pprotocol: test_parse_buffer_invalid_data()

I expected a meaningless stream of 00000s and 11111s to cause some error when Message parsing, but no error was thrown.

[2018-06-08 01:23] cyyber commented on #1390
Fixed in PR #1398

[2018-06-08 01:23] #1390 closed, assigned to nobody

[2018-06-08 01:24] cyyber commented on #1388
Fixed in PR #1398

[2018-06-08 01:24] #1388 closed, assigned to cyyber

[2018-06-08 13:30] cyyber commented on #1286
Fixed in PR #1407

[2018-06-08 13:30] #1286 closed, assigned to cyyber

[2018-06-11 20:08] cyyber opened #1418 "Nodes Get Stuck while adding blocks"
Nodes Get stuck while adding blocks and calling to mine next block. Need to look further into the issue.

[2018-06-11 20:10] cyyber opened #1419 "Node keep fetching blocks from single peer continuously"
When a peer broadcast with higher difficulty, the node try to fetch the block from it. In case the other peer doesnt provide any block, the node keeps trying to fetch the block from the node instead of disconnecting and blocking that node.

[2018-06-11 20:25] cyyber opened #1420 "Redundant Peers"
Multiple connections from same node has been detected connecting to same ip. This happens when a node shuts and restart itself.

**Solution**
Before accepting connection, check if IP is already connected or any connection from same IP is already there. Disconnect from the peer if connection found.

[2018-06-11 20:25] #1391 closed, assigned to jleni

[2018-06-11 20:25] #1389 closed, assigned to jleni

[2018-06-11 20:25] #1387 closed, assigned to jleni

[2018-06-12 11:04] cyyber opened #1424 "Difficulty Check Missing While Syncing"
When node downloads all the blocks from the target peer, it doesn't check if the total difficulty is actually the same which was broadcasted by the peer.

[2018-06-12 11:31] cyyber commented on #1419
Fixed in PR #1425

[2018-06-12 11:31] #1419 closed, assigned to cyyber

[2018-06-13 14:35] randomshinichi opened #1426 "BlockHeader, Block, .create() all have different names for previous block's hash"
BlockHeader: prev_blockheaderhash
Block: prev_headerhash
.create() staticmethods: prev_block_headerhash

These are all the same thing and thus should have the same name.

[2018-06-14 07:47] cyyber opened #1428 "Persistence Transaction Pool"
Transaction Pool should be persistent such that in case of rebooting node, it can load the transaction pool from leveldb.

[2018-06-14 23:51] happysmash27 opened #1435 "Illegal Hardware Instruction. Possibly related to hardware AES support?"
**Describe the bug**
When `qrl_start` is run, it gives an illegal hardware instruction.

**To Reproduce**
Steps to reproduce the behavior:
1. Type `qrl_start`

[code]

**Expected behavior**
The QRL daemon starts

**Desktop (please complete the following information):**
 - OS:
[code]
 - Version [e.g. 22]:
[code]

**Additional context**
I will try updating the QRL dependency libraries to see if it h

[2018-06-14 23:55] happysmash27 commented on #1435
After updating, I still get the same result:

[code]

[2018-06-15 00:04] happysmash27 commented on #1435
It appears that my kernel has AES support too:

![2018-06-14-170508_1280x998_scrot](https://user-images.githubusercontent.com/3620657/41444003-f89f94d4-6ff4-11e8-96f7-eeb5f348b552.png)

Edit: This also applies to the kernel I am actually using:

![2018-06-14-170826_1280x998_scrot](https://user-images.githubusercontent.com/3620657/41444059-58fad1d6-6ff5-11e8-9a33-e01f74b5e792.png)

Edit 2: `cat /pr

[2018-06-15 00:22] happysmash27 commented on #1435
Okay, this is interesting. I decided to run it through Valgrind, and although it has loads of errors, it does not crash this time:

https://pastebin.com/JFJpttXs

[2018-06-15 00:32] randomshinichi commented on #1435
It's not about which ciphers your kernel supports. You need a CPU with AES-NI.

I see you're running a Nehalem! real classic. Unfortunately it doesn't have AES-NI...

[2018-06-15 00:34] happysmash27 commented on #1435
Regardless of acceleration, how can I get it to not crash (other than possibly running it with Valgrind)?

Edit: As in, how can I one it to stop running the illegal hardware instruction and ignore hardware acceleration instead? PS: Looking at the log again, it appears that Valgrind has tricked it into using software cryptography as hardware cryptography. The warning message said that hashrates wil

[2018-06-15 00:38] randomshinichi commented on #1435
The error message is misleading. It says "don't expect high hashrates" but the fact is pyqryptonight will always crash if you don't have AES-NI. There is no alternate codepath - a patch would be welcome though!

[2018-06-15 07:22] jleni commented on #1435
This is related to https://github.com/theQRL/qryptonight/issues/29

We had some contribution but it was adding some instability at the time. We need to find the time to understand what is the reason the PR was generating these problems. Hopefully someone can contribute to the ticket.

In the meantime, the alternatives are:
- disable mining in the node. Actually, for that CPU is actually makes sens

[2018-06-17 16:54] #1426 closed, assigned to nobody

[2018-06-18 15:51] jleni commented on #1418
Many changes and fixes related to this issue are contained in PR https://github.com/theQRL/QRL/pull/1451
In particular, race conditions, etc. It is likely that this issue has been fixed.
I will keep this open in case there are new instances. We will close the issue in 2 weeks from this date if no new instances are detected.

[2018-06-18 15:53] jleni commented on #1420
We have noticed this situation in the latest release.

[2018-06-19 21:29] cyyber commented on #1420
In PR #1470 max_redundant_connection has been added into config, whose default value is 5. Which allows maximum 5 redundant connection from same IP.
Without the presence of Node ID, it is hard to know if the redundant connection is from the same node having same IP or is it from the different node running on same IP.

[2018-06-22 08:31] surg0r commented on #1424
Has this been resolved?

[2018-06-22 22:47] cyyber commented on #1284
banned_peers issue has been Fixed in PR #1491

[2018-06-24 17:45] cyyber commented on #1284
I don't see any more issue with banned_peers.

[2018-06-24 17:45] #1284 closed, assigned to jleni, cyyber

[2018-06-24 17:46] cyyber commented on #1322
reserve_size has already been increased to 17 bytes.

[2018-06-24 17:46] #1322 closed, assigned to cyyber

[2018-06-27 15:17] jleni commented on #1418
The following PRs also solved other deadlock instances:
https://github.com/theQRL/QRL/pull/1505
https://github.com/theQRL/QRL/pull/1502
https://github.com/theQRL/QRL/pull/1472

[2018-06-27 15:17] #1418 closed, assigned to jleni

[2018-07-01 14:43] jleni opened #1525 "Upgrade to PyYAML 4.2"
**Describe the bug**
There is a known vulnerability in PyYAML 3.2.
At the moment, there is no release for PyYAML 4.2
https://github.com/yaml/pyyaml/issues/193

**Additional context**
The use of yml files is limited to configuration files. While the fix will be address as fast as possible, it does not seem to be leading to a critical vulnerability in the network. It is recommended not to use third

[2018-07-18 09:43] surg0r opened #1533 "Making XMSS safer by optionally storing additional state to help reduce OTS re-use risk.."
**Background**
XMSS is a stateful signature scheme. An attacker in possession of two or more signatures from the same one-time signature (`ots`) position with sufficient resources may be able to forge a signature.  The QRL network expressly disallows `ots` re-use for an address by maintaining accurate state of confirmed transactions from the blockchain and storing a record of which `ots` are used

[2018-07-18 17:46] surg0r commented on #1533
Actually in state probably just a dict `extended_ots_data`:
`{ ots_number : integer of dropped transactions }` would suffice..

To minimise spam risk the setting `extended_ots_state` will be turned off by default.

We can set a rule that addresses with 0 balances are ignored and not recorded also.

Finally, the ability to skip `ots` safely is what makes `XMSS` vastly safer than systems utilising s

[2018-07-18 17:58] cyyber commented on #1533
The idea is good for making the web wallet much secure and will help to stop reusing the OTS index. But they are also vulnerable to spam attack, where someone making bad transaction intentionally, to consume the disk usage.

Although adding threshold balance will only need minimum balance on the address to perform the spam.  But at the end it will not be able to stop the spam.

Other issues could

[2018-07-18 18:06] surg0r commented on #1533
Spamming is a risk to be considered but it would take a gigantic and constant number of failed transactions to fill a disk over many, many hours and probably is infeasible.

We could just disable `extended_ots_state` in that instance temporarily to negate the attack vector.

[2018-07-18 18:24] cyyber commented on #1533
If we want to disable extended_ots_state during spam attack, probably doing this in an automated way will be better, so that we don't need a human to monitor if we are spammed and disable it manually.

And a spam test over this feature on testnet will be helpful to determine how critical could be the spam.

[2018-07-25 10:25] scottdonaldau opened #1541 "Addition of --testnet flag when starting QRL node."
Currently the only way to join another QRL network is by defining a custom peer_list, genesis_prev_headerhash, genesis_timestamp and genesis_difficulty in your config.yml, and also providing a valid genesis.yml file.

This in turn makes joining the public QRL testnet difficult.

**Describe the solution you'd like**
The ability to start a node using a flag such as `start_qrl --testnet`, and have al

[2018-07-27 05:47] cyyber opened #1542 "Replace functools.lru_cache by a thread safe lru_cache"
functools.lru_cache is not thread safe. It has been used into several places to maintain the cache and thus should be replaced by some thread safe caching.

[2018-07-27 07:16] SatoshiHaze opened #1543 "QUANTA balance field (web wallet)"
Please consider edit the quanta balance field on web wallet larger and more viewable.

[2018-07-27 07:25] jplomas commented on #1543
Please post in the wallet repo: https://github.com/theQRL/qrl-wallet/issues

Thanks

[2018-07-27 07:25] #1543 closed, assigned to nobody

[2018-07-29 11:33] surg0r opened #1544 "Canonical block transaction-ordering"
**Background**
It would be useful to prepare for higher transaction loads on the network with eventual implementation of set reconciliation and invertible bloom lookup tables (IBLT). The general idea is that all nodes on the network see the same transactions and therefore when block transaction counts rise there is little point in wasting bandwidth transmitting the full block and all the transacti

[2018-07-29 13:07] surg0r opened #1545 "Extending the grpc API to allow message_tx search"
File notarisation / stamping functionality is present via an encoding scheme within the 80-byte field of a `message_tx` (see details [here](https://github.com/theQRL/qrl-wallet/pull/243)). This allows notarisation transactions to be created via the webwallet and tracked via the block-explorer (including third party verification by hashing a file to see if it matches the hash in the notary transact

[2018-07-29 22:38] scottdonaldau commented on #1545
Would something like this not better be served by a third party app, and indexed in something like Elasticsearch? This seems overkill for the node to provide full text search on the blockchain state.

[2018-07-29 23:36] surg0r commented on #1545
Valid question. But is it any different than searching for a txid or address? It is an optional setting and were volume of `message_tx` traffic to become significant then the answer to your question becomes a resounding yes! :-)

[2018-07-29 23:41] scottdonaldau commented on #1545
I would expect it to be vastly different. To query an address or txid you're simply doing a lookup for a full field value in a key value store, whereas searching for specific strings within all message_txs becomes quite a heavy computational task. We should always consider large volumes of these transactions exist in the blockchain state, as eventually there will be anyway. Imo this really is a la

[2018-07-29 23:49] surg0r commented on #1545
Just a clarification - this is simply searching via a key value store search in leveldb to match an 80byte bytes field within a dedicated portion of the state machine which holds a list of `message_tx` data payloads and their respective txhashes.

Computationally it is no more intensive than a simple txhash lookup. The tradeoff is the need to store the above additional key-value pairings.

I agree

[2018-07-30 07:55] jleni commented on #1545
This is the classic discussion about monolithic vs modular design.
I think the node should be kept minimal and specific for a lot of good architectural reasons.
This is not for this feature only, but in general. I believe the ecosystem should be built around the core, not in the core.

It is easy for any third party to write something that indexes without having to include this functionality in th

[2018-07-30 08:45] cyyber commented on #1545
As the number of use case will increase with time, the requirement of API which are scalable will increase too. Storing into leveldb, could only be a temporary solution, but the API will fail to handle a large number of request and will be responsible for bottleneck. Thus a db like Elasticsearch or Solr will be needed which will be storing the required data from the blockchain. Using db will solve

[2018-07-30 08:48] jleni commented on #1545
A classic:

https://stackoverflow.com/questions/184618/what-is-the-best-comment-in-source-code-you-have-ever-encountered/778275#778275

[2018-07-30 16:14] surg0r commented on #1545
Purist consensus seems to be for pushing this into layer two.

[2018-08-05 18:45] cyyber opened #1551 "Other qrl components such as qrl_grpc_proxy missing options like qrldir"
Other qrl components such as qrl_grpc_proxy missing options like qrldir due to which any one starting qrl_grpc_proxy will always read config from ~/.qrl

[2018-08-06 02:06] simoncos commented on #1542
could try cachetools: https://cachetools.readthedocs.io/en/latest/

[2018-08-10 04:41] seanlis opened #1557 "slow sync"
**Describe the bug**
It took me 2 days to sync a node, and it's still not finished.

**To Reproduce**
Steps to reproduce the behavior:
1. `start_qrl`

**Expected behavior**
faster sync

**Desktop (please complete the following information):**
 - OS: ubuntu 18.04.1

**Additional context**
When the blockchain grows, It will probably take even more time to sync.

[2018-08-11 14:20] cyyber commented on #1557
Optimization has been done for the node syncing, as the syncing nodes will not check for any stale transaction and will not receive any new transaction. PR #1562

[2018-08-11 16:46] seanlis commented on #1557
Great. Thanks for the fast fix.

[2018-08-12 09:36] #1557 closed, assigned to cyyber

[2018-08-13 19:15] surg0r commented on #1293
What is the status of this?

[2018-08-13 19:23] cyyber commented on #1293
We had a discussion on this with @jleni and he had discussion with Leon and it doesnt make much difference at the transaction end what hashing type do we use to calculate transaction hash, as long as the signature scheme is using the hash based on descriptor.

[2018-08-13 21:15] cyyber opened #1564 "Need to add p2p listen IP in config"
Need to add p2p listen IP in config, so that user may change the binding address at which the QRL Node, will listen for p2p connection.

[2018-08-20 16:14] cyyber opened #1566 "qrl_measure/measure.py input must be more than 42 bytes"
qrl_measure/measure.py has been created to check the hash rate of CPU. But the input bytes is of 5 bytes, while the needed input bytes must be greater than 42 bytes for this to work.

[2018-08-20 16:16] jleni commented on #1566
This is related to a fix upstream (qryptonight) where additional checks were introduced.

Extend this to >42 bytes
https://github.com/theQRL/QRL/blob/4bf6b3c1653a47a2902fca0c1e509ace098daf0a/src/qrl/measure.py#L15

The data is not important. Any values could work.

[2018-08-21 14:56] darcymei commented on #756
Hi Mrwh0, I have met the same problem, how did you close it? Many thanks.

[2018-08-21 15:33] darcymei opened #1567 "pip3 install -U qrl failed"
Hi Experts,

I failed in pip3 install -U qrl step, below are details:

System enviromemt:
Ubuntu Server 16.04(New installed)
Python3.6
GCC 5.4
G++5.4

Step before pip3 install -U qrl
* Update and Upgrade packages
sudo apt update && sudo apt upgrade -y
* Install Required dependencies
sudo apt-get -y install swig3.0 python3-dev python3-pip build-essential cmake pkg-config libssl-dev libffi-dev libhw

[2018-08-22 06:57] darcymei commented on #1567
The issue cause by fPIC, I rebuilded the python3 by ./configure --prefix=/usr/local/ --enable-shared CFLAGS=-fPIC --with-ssl and the problem had been fixed.

[2018-08-22 06:57] #1567 closed, assigned to nobody

[2018-08-22 07:59] darcymei opened #1569 "git link is incorrect of https://docs.theqrl.org/mining/pool/"
Hi Guys,

I find pool git link of https://docs.theqrl.org/mining/pool/ is incorrect(pls check the pic). It still points to https://docs.theqrl.org/mining/pool/ instead of a github address. Can any one tell me which fork of zone117x node-cryptonote-pool should be used? Many thanks.
![1](https://user-images.githubusercontent.com/34210743/44450767-50d57500-a624-11e8-8efb-da86e8f6e6e2.png)

[2018-08-22 15:20] cyyber commented on #1566
Fixed in #1571

[2018-08-22 15:20] #1566 closed, assigned to cyyber

[2018-08-30 07:56] darcymei commented on #1569
no one reply, just close it~~

[2018-08-30 13:39] cyyber commented on #1569
@jackalyst (Jack) and @fr1t2 (James) can you take a look to this

[2018-08-30 14:36] fr1t2 commented on #1569
Fix in the works, awaiting approval. Thanks for pointing this out @darcymei and sorry for the broken link!

[2018-08-31 18:38] #1569 closed, assigned to jackalyst

[2018-09-14 21:19] #1545 closed, assigned to cyyber, surg0r

[2018-10-07 05:32] danimesq opened #1589 "[Question] How to sign/verify messages like Bitcoin?"

[2018-10-07 05:32] danimesq opened #1590 "[Question] How to generate address on Python API?"

[2018-10-07 05:35] cyyber commented on #1590
Take a look to https://api.theqrl.org/#qrl-api

[2018-10-07 13:16] danimesq commented on #1590
Yes, I know this link. Thanks
But I'm asking because I didn't found it

[2018-10-07 13:17] danimesq commented on #1589
Reference: https://github.com/HelloZeroNet/ZeroNet/issues/1686

[2018-10-07 13:17] danimesq commented on #1590
Reference: https://github.com/HelloZeroNet/ZeroNet/issues/1686

[2018-10-07 13:23] cyyber commented on #1590
You may use wallet daemon if it makes sense to your use case.
https://api.theqrl.org/?python#addnewaddress
Wallet daemon has been created for use cases like exchanges.

Or you may also use CLI to addnewaddress
https://docs.theqrl.org/wallet/wallet-cli/

[2018-10-07 13:34] danimesq commented on #1590
@HelloZeroNet @shortcutme @tangdou1
Do you consider implementing it as default on the current user cert plugins?

[2018-10-07 17:01] surg0r commented on #1590
Let us know if you need any more help guys

[2018-10-07 17:02] cyyber commented on #1590
You may contact our devs directly on our official discord channel https://discord.gg/jBT6BEp

[2018-10-10 17:31] surg0r commented on #1589
We can add this functionality.

However, signing arbitrary data is not recommended from a QRL `XMSS` address as the signature scheme is stateful, which raises the potential risk of one-time signature re-use.

A solution maybe to create a message transaction in the webwallet and incorporate the data to be signed into the `message_tx` field. In this way the signature usage is recorded safely and may

[2018-10-11 15:51] danimesq commented on #1589
@surg0r

ZeroNet uses Bitcoin addresses for user identies, and they sign data to post using their privatekey.
Sites occur at the same form: files are signed with site address and visitors verifies if the files comes from the site.

What is the best fit of QRL for ZeroNet?

@HelloZeroNet @shortcutme

[2018-11-11 21:15] som-dev commented on #1542
The code for functools.lru_cache (at https://github.com/python/cpython/blob/3.6/Lib/functools.py#L470) notes that "The internals of the lru_cache are encapsulated for thread safety".

[2018-12-24 15:43] fr1t2 opened #1606 "CLI "tx_transfer" not auto advancing through OTS keys"
**Describe the bug**
When using the `tx_transfer` command on the cli with a newly created and funded wallet, the command consumes OTS key 1 and will not advance automatically. After the first TX the command fails on key reuse. Manually adding `--ots_key_index INTEGER` flag of an unused OTS key in the tree will succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new wallet using `

[2018-12-25 07:40] cyyber opened #1607 "Submission of mined block by pool twice"
When a mining pool found a solution for a block and submits it to the node and the block is being processed, in the meantime another solution found by a miner in the same pool, results into the submission of two solutions.

This is not a critical issue neither wastes miner CPU cycle, thus has been labelled as low priority. Fix for this issue is to lock submit mined block when a solution is being s

[2019-01-05 18:28] fr1t2 opened #1611 "Known_peers.json grows larger that allowed file/socket limit in Linux"
**Describe the bug**
The ~/.qrl/data/known_peers.json file grows quite large and upon starting the qrl node using `start_qrl` with a large known_peers.json file returns this error:

[code]

This error points to the *open files limit* default settings  in most unix OS's. This is not a critical issue, and the node will continue syncing even with the error. Ubuntu 16.04 has as a default open files li

[2019-01-22 07:42] peipeitu opened #1612 "qrl_grpc_proxy - "code": -32000, "message": "Server error""
Start qrl_grpc_proxy and try to use the rpc, but the result is always error.
curl -X POST http://127.0.0.1:18090/json_rpc -d '{"jsonrpc":"2.0","id":"0","method":"getlastblockheader"}' -H 'Content-Type: application/json'
{"error": {"code": -32000, "message": "Server error", "data": {"type": "_Rendezvous", "args": [], "message": "<_Rendezvous of RPC that terminated with (StatusCode.DEADLINE_EXCEEDED

[2019-01-22 08:53] cyyber commented on #1612
Please ensure you have followed the instructions mentioned on this documentation https://docs.theqrl.org/mining/pool/

[2019-02-26 07:49] surg0r opened #1613 "Consider implementation of other NIST schemes"
Should we be implementing native support for other NIST post-quantum signature schemes?

Discuss.

[2019-02-26 08:17] surg0r commented on #1613
Moving this discussion to QIPs ideas section

[2019-02-26 08:17] #1613 closed, assigned to nobody

[2019-03-05 14:15] useribs opened #1614 "QRL 1.1.11 does not start with Illegal Instruction, older CPU suspected"
**Describe the bug**

root@4658a0818a04:/# start_qrl
Illegal instruction (core dumped)

core file: https://file.io/1SIUCz

**To Reproduce**
Steps to reproduce the behavior:
1. start_qrl

**Expected behavior**

QRL starts

**Desktop (please complete the following information):**

ubuntu-docker under CentOS  3.10.0-957.5.1.el7.x86_64

[2019-03-05 14:16] useribs commented on #1614
[cpuinfo.txt](https://github.com/theQRL/QRL/files/2931285/cpuinfo.txt)

[2019-03-05 14:44] cyyber commented on #1614
Host OS - CentOS 3.10.0-957.5.1.el7.x86_64

Docker Container's Details on which QRL crashed
OS -
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

gcc (Ubuntu 5.4.0-6ubuntu1-16.04.10) 5.4.0 20160609
g++ (Ubuntu 5.4.0-6ubuntu1-16.04.10) 5.4.0 20160609

Python 3.5.2

uname -i
x86_64

[2019-03-05 18:01] cyyber commented on #1614
avx2 instructions found in keccak library, which is being used by QRL for hashing purposes. User's hardware doesn't support avx2 instructions.

[2019-03-06 14:13] useribs commented on #1614
May i propose to mention this info, together win AES-NI, as a prereq on https://docs.theqrl.org/node/QRLnode/ ?

[2019-03-06 14:27] fr1t2 commented on #1614
Will add and update the documentation to include this requirement.

[2019-03-07 05:33] useribs commented on #1614
@fr1t2 awesome. Tho i think avx2 are not really necessarry, it's just enabled by default during build process. Folks here claim it has little impact:
https://www.reddit.com/r/MoneroMining/comments/6qdr8a/notes_on_building_running_xmrstack_and_cpu_pinning/dl080tj

[2019-03-26 03:35] PQAdvantage opened #1616 "Website landing page dropdown menus"
1) **About**
  --> What is QRL?
  --> FAQ
  --> Team
  --> Roadmap
  --> Whitepapers
  --> In the Press
  --> QRL Foundation
2)  **Get Started**
  --> Buy & Sell QRL (link to Bittrex)
  --> Wallets (link to web wallet etc.)
  --> Mining (link to quick start guide)
  --> Nodes (link to guide)
3) **Community**
  --> Discord
  --> Medium
  --> Reddit
  --> Twitter
  --> Facebook
  --> Conferences
4)

[2019-03-26 03:44] doctor-gonzo commented on #1616
Really nice collection of things that should be linked to, if there is not enough physical room on the top of the website for this I think it would make sense to have

- **Contact Us** in the footer
- **Community** and potentially **Security** rolled into *About* somehow

I also think wallet / explorer should be near each other, I liked how it used to be a corner menu item. Thanks for putting in t

[2019-03-27 03:14] PQAdvantage commented on #1616
Thanks, I concur re concerns about space.  I should add I like the links for 'Academia' that were added, but I think maybe they should be rolled into a broader dropdown.  Also, I think potential partners is so important that it may make sense for 'Partners' to be a top level drop down with links to contact email, comprehensive page with info about QRL, anything else that would be potentially attra

[2019-03-27 21:57] jplomas commented on #1616
Chaps these are great points for the website maintainers but this is the QRL node repo: could you please direct the discussion to https://github.com/theQRL/theqrl.org/issues ?

Thanks!

[2019-03-27 21:57] #1616 closed, assigned to nobody

[2019-03-31 00:06] happysmash27 opened #1617 "simplejson.errors.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
**Describe the bug**
When launching QRL_start, the following error occurs:

[code]
This is the only output.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch qrl_start

**Expected behavior**
qrl_start runs.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Gentoo Linux
 - Browser [e.g. chrome, safari]
 - Version:  1.1.11 python

[2019-03-31 00:07] happysmash27 commented on #1617
I'm not sure what happened here, but updating doesn't seem to help.

[2019-03-31 05:12] cyyber commented on #1617
remove ~/.qrl/banned_peers.qrl

[2019-03-31 05:14] happysmash27 commented on #1617
Thank you very much! Everything works now.

[2019-03-31 05:14] #1617 closed, assigned to nobody

[2019-06-18 08:26] happysmash27 opened #1627 "QRL node no longer launching for unknown reason"
After running out of space, my QRL node stopped working. Even after backing up an older state, however, it still does not work. This may be correlated with me uninstalling the system version of protocol buffers, but shouldn't the pip version work?

The following is the Valgrind error log, as software encryption still hasn't been merged:

https://happysmash27.me/Upload/qrl_valgrindlog_1.txt

Speaki

[2019-06-18 08:27] happysmash27 commented on #1627
This happens with both my backed up state and a fresh state.

[2019-06-18 08:27] happysmash27 commented on #1627
Oddly enough, I think the original state actually worked, but now it is deleted.

[2019-06-18 08:40] cyyber commented on #1627
Since you ran out of space, I believe this could be the reason of state corruption, as some of the essential state information were not written to your disk. I would suggest the following
1> Stop your QRL Node
2> try removing ~/.qrl/data and
3> Start your QRL Node

[2019-06-23 17:49] happysmash27 commented on #1627
The thing is, I believe that is exactly what I did, both replacing it with a backed up state and deleting it entirely. I can try doing it again though.

[2019-06-23 17:56] happysmash27 commented on #1627
It still has the same problems. Some relevant lines:

[code]

[code]

[code]

This is from as far up as Screen will let me scroll, in chronological order (I think).

[2019-06-23 18:52] cyyber commented on #1627
Please do remove
rm ~/.qrl/data/known_peers.json

[2019-09-24 04:55] som-dev opened #1630 "Node can become unresponsive calling GetTokenTxn()"
Running the qrl node from the dev branch and the testnet.  Made a call to the GRPC GetTokenTxn() method with TokenTxnReq.decimals set to a very large number and the node becomes unresponsive.
The thread is stuck at src/qrl/core/txs/TokenTransaction.py: allowed_decimals = self.calc_allowed_decimals(sum_of_initial_balances // 10 ** self.decimals)
trying to calculate a very large 10^decimals number.

[2019-09-24 12:02] cyyber commented on #1630
Issue fixed in #1632

Thanks!!

[2019-09-24 12:02] #1630 closed, assigned to cyyber

[2019-09-25 01:06] som-dev commented on #1630
Pulled the update in dev and the node no longer gets stuck so looks good to me!  Thanks.

[2019-10-12 00:37] happysmash27 commented on #1627
I'm pretty sure I did this a while ago (I have this issue all the time), but I'll try again...

I do indeed still get the same errors:

[code]
[code]

An interesting Valgrind message I didn't see before:

[code]

I don't even have a known_peers file, at the moment, because the node simply doesn't get that far.

[2019-10-12 08:13] cyyber commented on #1627
You should try removing banned_peers.qrl and then restart the node.

[2020-01-15 06:41] rahlfantasy commented on #1627
does anyone have a .local/lib/python3.6/site-packages/qrl/core/qrlnode.py copy of this file i believe that the issue is from a altered qrlnode.py or is it possible to delete this file and aquire a new one?

[2020-01-23 08:06] cyyber commented on #1627
@rahlfantasy If you are facing any trouble please create a new issue with the error that you are receiving, as well as your OS details, cmake, make, gcc versions.

[2020-01-23 08:06] #1627 closed, assigned to nobody

[2020-01-23 08:07] #1612 closed, assigned to nobody

[2020-01-27 15:55] cooper7777 opened #1641 "terminate called after throwing an instance of 'std::bad_alloc' what(): std::bad_alloc Aborted"
Ubuntu 18.04.3
QRL 1.1.15

The whole trace:
:0: UserWarning: You do not have a working installation of the service_identity module: 'cannot import name 'verify_ip_address''.  Please install it from <https://pypi.python.org/pypi/service_identity> and make sure all of its dependencies are satisfied.  Without the service_identity module, Twisted can perform only rudimentary TLS client hostname verifi

[2020-01-28 21:13] #1641 closed, assigned to nobody

[2020-02-06 16:33] #1590 closed, assigned to nobody

[2020-02-06 16:33] #1589 closed, assigned to nobody

[2020-02-06 16:34] cyyber commented on #1525
Done in PR #1620

[2020-02-06 16:34] #1525 closed, assigned to cyyber

[2020-02-06 16:38] #1542 closed, assigned to nobody

[2020-02-06 20:15] cyyber opened #1643 "Disconnect nodes running with version lower than Hard fork version"
The feature needs to be added into the hard fork code, to ensure that all nodes running with node version lower than the node version with hard fork code should be disconnected or banned for x minutes if connection request coming multiple times.

[2020-02-15 08:28] cyyber commented on #1541
The argument --network-type has been added to switch between mainnet and testnet in PR #1644

[2020-02-15 08:28] #1541 closed, assigned to cyyber, surg0r

[2020-02-15 08:31] #1293 closed, assigned to cyyber, surg0r

[2020-02-19 10:25] cyyber commented on #1611
Fixed in PR #1647

[2020-02-19 10:25] #1611 closed, assigned to cyyber

[2020-02-19 10:58] cyyber commented on #1643
Done in PR #1648

[2020-02-19 10:58] #1643 closed, assigned to cyyber

[2020-02-19 11:15] #1614 closed, assigned to nobody

[2020-02-19 11:16] #1435 closed, assigned to nobody

[2020-02-19 11:28] cyyber commented on #1297
pyLevelDB replaced by plyvel in PR #1642

[2020-02-19 11:28] #1297 closed, assigned to cyyber

[2020-02-19 11:30] #939 closed, assigned to nobody

[2020-02-21 12:30] cyyber commented on #1551
Fixed in PR #1650

[2020-02-21 12:30] #1551 closed, assigned to cyyber

[2020-02-24 13:31] cyyber opened #1652 "Tracking incoming messages for a QRL address sent via message transaction"
The upcoming hard fork version will have an optional address to field in message transaction. Currently, the incoming messages are not tracked separately for explorer purpose. Thus, the node will be tracking the incoming messages for a qrl address sent via a message transaction which will be exposed via API.

[2020-02-27 05:59] cyyber commented on #1652
Implemented in PR #1656

[2020-02-27 05:59] #1652 closed, assigned to cyyber

[2020-02-27 06:03] cyyber commented on #1607
Fixed in PR #1642

[2020-02-27 06:03] #1607 closed, assigned to cyyber

[2020-03-01 06:21] som-dev opened #1666 "GetOTS with large page_count can cause unresponsive node"
Running new testnet qrl 0.2.0 on a virtual machine (VirtualBox).  Node appeared synced with testnet.

Called Public API GetOTS with very large page_count parameter 1073741823.

My entire VM became unresponsive, had to close it down.  Seems like large memory usage was to blame.  Perhaps a large page_count can result in a runaway process and checking for reasonable parameters is appropriate here?

D

[2020-03-01 19:21] som-dev opened #1667 "GetAddressState not returning result for a specific testnet address"
Running testnet qrl 0.2.0

Call to Public API GetAddressState for Q0104004d40a781b697e69f7e806d0158acb9e8e0566a05dc06744756d81fc08b256ca4cbf7f0e3
returns an exception:
  File "/home/username/.local/lib/python3.6/site-packages/grpc/_channel.py", line 487, in __call__
    return _end_unary_response_blocking(state, call, False, deadline)
  File "/home/username/.local/lib/python3.6/site-packages/grpc/

[2020-03-03 08:08] cyyber commented on #1667
Thanks for reporting. Issue has been fixed in PR #1670
Fix will be available on next release.

[2020-03-03 08:08] #1667 closed, assigned to cyyber

[2020-03-03 08:08] cyyber commented on #1666
Thanks for reporting. Issue has been fixed in PR #1670
Fix will be available on next release.

[2020-03-03 08:08] #1666 closed, assigned to cyyber

[2020-03-07 04:56] cyyber opened #1674 "config for qrl_dir & mining_thread_count are not working for testnet"
The qrl_dir & mining_thread_count works when passed via argument, but doesn't work when configured in config.yml in qrl-testnet directory.

[2020-03-17 23:09] happysmash27 opened #1689 "no repository found in errors"
**Describe the bug**
When installing QRL, it errors out with "No such file or directory" and "no repository found" errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install pyqryptonight using the method described in [this bug report](https://github.com/theQRL/qryptonight/issues/76)
2. With this setup, run `PATH="/opt/cmake-3.10.3/bin:$PATH" pip3 install --user qrl`.

**Expecte

[2020-03-19 03:53] som-dev opened #1690 "Cannot determine from-address for a transaction with the API"
Using testnet with v0.2.0.

Calling qrl_pb2.GetBlockByNumberReq() for 12703, in the list of transactions, I cannot determine the from-address for transaction 05f0859e14cd10357661e92d7c3d5a358c04bb0155af0daf47620db6eef65136.

If I call qrl_pb2.GetTransactionReq() for this transaction, I also cannot determine the from-address.

The block explorer does display the from address so I feel like I am doi

[2020-03-19 04:14] cyyber commented on #1690
The addr_from is not provided by the API, neither the field addr_from exists in the QRL transaction. addr_from is derived from the public_key if master_addr is empty.
If master_addr exists then addr_from is the master_addr and the address derived from the public_key is the address that signed the transaction for master_addr due to Slave relationship.

[2020-03-19 04:56] som-dev commented on #1690
Thanks for the explanation, I figured I was interpreting something wrong.

[2020-03-19 04:56] #1690 closed, assigned to nobody

[2020-03-23 03:37] som-dev opened #1692 "GetVoteStats API not returning a qrl.VoteStatsResp object"
Running qrl node 0.2.0 off dev branch and testnet.  I cannot successfully call GetVoteStats() with what I believe to be a properly populated GetVoteStatsReq object.

The error in my local node suggests the response is getting assigned an instance of the QRL VoteStats object instead of a pbdata VoteStatsResp object:

2020-03-22 22:15:30,070|0.2.0+44.g78c2815b.dirty python|synced  |ThreadPoolExecuto

[2020-03-23 15:03] cyyber commented on #1692
Fixed in PR #1693 . It will be available on next release.

[2020-03-23 15:19] som-dev commented on #1692
I pulled dev and tried the query again but I still see an error on my local server, although with a different reason (note the traceback has the new vote_stats=vote_stats.pbdata):

2020-03-23 10:17:01,296|2.0.0+2.gb90d2190.dirty python|synced  |ThreadPoolExecutor-0_0| ERROR : Traceback (most recent call last):
  File "/home/sysop/dev/theqrl/QRL/src/qrl/services/grpcHelper.py", line 25, in wrap_f

[2020-03-24 06:55] cyyber commented on #1692
Thanks for reporting. PR #1694 should have fixed the above issue.

[2020-03-24 14:57] som-dev commented on #1692
pulled latest dev and it works, thanks!

[2020-03-24 15:32] #1692 closed, assigned to cyyber

[2020-03-24 15:40] cyyber commented on #1692
Thanks for reporting and testing the fixes.

[2020-04-03 11:08] ghost opened #1700 "pip3 install -U qrl fails ERROR: Failed building wheel for grpcio"
**Describe the bug**
I try to set up a QRL Node following this guide: https://docs.theqrl.org/node/QRLnode/
The install -U qrl command fails with the following output:

leon@leons-linux:/$ pip3 install -U qrl
Defaulting to user installation because normal site-packages is not writeable
Processing /home/leon/.cache/pip/wheels/93/3c/c9/de9091a6dfc95ae1d4edd99b14cf7edf1db172ed6cc45cfe80/qrl-2.0.2-cp3

[2020-04-05 04:20] cyyber commented on #1700
I think this might be the issue of latest setup tools version. Please try the above with setuptools version 39.0.1 or lower

[2020-04-05 06:33] som-dev opened #1701 "Add a tx_multi_sig_vote command to the CLI"
The command line interface has two functions related to multi-signature functionality:

  tx_multi_sig_create  Creates Multi Sig Create Transaction, that...
  tx_multi_sig_spend   Transfer coins from src to dsts

This issue is to document the need for a tx_multi_sig_vote at the CLI allowing users to vote on a spend.

[2020-04-05 12:44] fungibly commented on #1700
Updating grcpio/grpcio-tools dependency to version 1.27.2 resolves the issue

[2020-04-07 22:45] cyyber commented on #1674
Fixed in #1675

[2020-04-07 22:45] #1674 closed, assigned to cyyber

[2020-05-11 00:05] cyyber commented on #1700
grpcio-tools upgraded to version 1.27.2 in PR #1703

[2020-05-11 00:05] #1700 closed, assigned to cyyber

[2020-09-01 22:39] happysmash27 commented on #1689
I have finally gotten back to this, and the same error still occurs with newer versions as well:

[code]

[2020-09-01 22:39] happysmash27 commented on #1689
I am going to try cloning the git repository directly and seeing if the output is more useful there.

[2020-09-01 22:44] happysmash27 commented on #1689
Much more useful... maybe:

[code]
(Home directory replaced with "~" by me)

So... why is it looking for ".hg", and what is supposed to create it?

[2020-09-02 06:52] cyyber commented on #1689
Try to run following command inside the QRL repo before building it

`hg init`

[2020-09-03 02:42] happysmash27 commented on #1689
Thank you! Now the error is...

[code]
Pretty much the exact same thing, but a bit less verbose. Hmm.

[2020-09-03 02:45] happysmash27 commented on #1689
Much more useful when made verbose:

[code]

...So maybe it has to do with "license_file"? But now the question is which line of code prints that, and which line of code is asking for the file or directory `'': ''`?

[2020-09-03 02:58] happysmash27 commented on #1689
setup.py seems to call setuptools to use pyscaffold in some way, but I know pretty much nothing about these tools making it really hard for me to debug. Usually I would just follow the layers of functions until it got to something useful, but everything is so abstracted that I do not know where anything is.

[2020-11-04 09:03] nustart0720 commented on #1542
It seems that functools.lru_cache is thread-safe. I agree with `som-dev `.

[2020-12-31 08:58] pibara opened #1717 "start_qrl core dumps"
**Describe the bug**
When running start_qrl with the option --qrldir, the command eventually core dumps. When restarted is core dumps promptly.

**Expected behavior**
Something else than a coredump

**Screenshots**
Added a bit of code to start_qrl to make it use faulthandler

[code]

The result:

![image](https://user-images.githubusercontent.com/289546/103402416-5aa10880-4b4d-11eb-9d0e-48d05f8566

[2020-12-31 09:08] cyyber commented on #1717
Please check your available disk space for /export/home/rob/qrl

[2020-12-31 09:11] pibara commented on #1717
![image](https://user-images.githubusercontent.com/289546/103403443-617d4a80-4b50-11eb-830b-0510bd9941b0.png)

[2020-12-31 10:08] cyyber commented on #1717
Does your CPU support aes-ni ?
Check via following command if it gives you any output
cat /proc/cpuinfo | grep aes

[2020-12-31 12:46] pibara commented on #1717
![image](https://user-images.githubusercontent.com/289546/103411084-7bc62100-4b6e-11eb-9b76-16869930f601.png)

[2020-12-31 12:52] cyyber commented on #1717
Please provide output of following commands

`lsb_release -a`

`free`

`cmake --version`

`gcc --version`

`g++ --version`

`python3 --version`

[2021-01-04 10:12] pibara commented on #1717
![image](https://user-images.githubusercontent.com/289546/103524368-c05b0080-4e7d-11eb-9cc4-87a8be4c68be.png)

[2021-01-05 08:13] cyyber commented on #1717
We tried to setup the node with same environment as mentioned above (with 2 GB RAM) and we are not able to repeat the above issue. I think this is something more related to your environment or hardware. This issue may also happen if for some reason the filesystem is broken.
I will suggest you to setup a fresh node.

[2021-01-20 02:02] qtlin opened #1718 "QRL CLI fails to install on Fedora 33 - hardcoded dependency protobuf-3.12.0 is no longer available."
**Describe the bug**
QRL CLI fails to install on Fedora 33 because hardcoded dependency protobuf-3.12.0 is no longer available.

**To Reproduce**
$ pip install --upgrade --user qrl
...
ERROR: Could not find a version that satisfies the requirement protobuf==3.12.0 (from qrl) (from versions: 2.0.0b0, 2.0.3, 2.3.0, 2.4.1, 2.5.0, 2.6.0, 2.6.1, 3.0.0a2, 3.0.0a3, 3.0.0b1, 3.0.0b1.post1, 3.0.0b1.post2,

[2021-01-20 13:10] cyyber commented on #1718
We will look into for the fix for Fedora 33. However this will take sometime, in the meantime you can still run QRL on Ubuntu 18.xx, 19.xx without any issue as they are well tested.

[2021-01-20 18:13] qtlin commented on #1718
Unfortunately I don't have acces to Ubuntu. Is there a strong reason to use exact version requirement?
https://github.com/theQRL/QRL/blob/master/requirements.txt lists `protobuf==3.12.0`. I would like to try to change it locally to protobuf==3.12.2 and install from a local copy. I recall pip can be pointed to a folder with sources. Could anyone remind the syntax? Thank you.

[2021-01-20 18:21] cyyber commented on #1718
If you want to build locally. You may clone the repo

1>
git clone https://github.com/theQRL/QRL ~/QRL

2> Then you may change requirements.txt having line
protobuf==3.12.2

3>
pip3 install -r ~/QRL/requirements.txt

4>
export PYTHONPATH=~/QRL/src

5>
cd ~/QRL/

6>
python3 start_qrl.py

[2021-02-19 03:53] biomassives opened #1721 "build process"
**Describe the bug**

ERROR: pyasn1-modules 0.2.8 has requirement pyasn1<0.5.0,>=0.4.6, but you'll have pyasn1 0.4.2 which is incompatible.

 follows this linke

.cache/pip/wheels/dd/c2/ea/345345huj34kl5jhl34uk5h345o34ih634l;h34
Successfully built qrl Twisted simplejson pyqrllib pyqryptonight pyqrandomx
ERROR: pyasn1-modules 0.2.8 has requirement pyasn1<0.5.0,>=0.4.6, but you'll have pyasn1 0.4.2

[2021-06-13 04:50] DevelopDaily opened #1732 "QRL cannot be installed on Raspberry Pi 4B"
The QRL installation will fail because the `pyqryptonight `and `pyqrandomx `cannot be installed on Ubuntu 20.04 Server running on Raspberry Pi 4B.

The Raspberry Pi may not be powerful enough to earn any coins, but it is very good for development and testing. Would you please make the QRL work for the Pi?

The same installation procedure on Ubuntu 20.04 Server with AMD CPU works perfectly.

[2021-06-13 12:32] cyyber commented on #1732
AES-NI support is required to install the above libraries. I don't think Raspberry Pi has support for AES-NI. This could be checked via following command

cat /cpu/procinfo | grep aes

If the above command doesn't give any output, then it means your hardware doesn't support AES-NI

[2021-06-13 12:32] #1732 closed, assigned to nobody

[2021-06-13 12:34] cyyber commented on #1718
protobuf has been upgraded to 3.15.8

[2021-06-13 12:34] #1718 closed, assigned to cyyber

[2021-06-21 22:19] jackalyst opened #1733 "message_data not optional parameter for QRL CLI bundled with node"
**Describe the bug**

When sending a transaction with the QRL CLI bundled with the node, `message_data` isn't an optional field.

**To Reproduce**

Initiate a transfer without the message_data field.

[code]
results in a prompt for message data
[code]
After filling out the prompt, the transaction is successfully executed.

**Expected behavior**

Returned transaction information indicating a succes

[2021-08-17 22:42] happysmash27 commented on #1689
Modifying setup_package to be:

[code]

To use pdb.

Then stepping through the entire setuptools program using:

[code]
(Line numbers will probably change if you have a different version of setuptools than me)

I have finally isolated the file not found error to the function walk_revctrl(dirname='') in /usr/lib/python3.9/site-packages/setuptools/command/sdist.py at this line:

[code]

So the probl

[2021-08-17 22:52] happysmash27 commented on #1689
Uh huh...

[code]

I had made [a thread](https://github.com/pyscaffold/pyscaffold/discussions/484) to test if this is a Pyscaffold error and it looks like it may be one indeed? Still not sure yet.

Edit: Actually, it does get beyond self.resolve(). Hmm... I guess I must still step more granularly.

[2021-08-31 14:04] happysmash27 commented on #1689
In https://github.com/pyscaffold/pyscaffold/discussions/484, I was recommended to try running the command without the .hg.

In doing this, the process to get to get an error is a bit different. .hg seems to be missing in the find_sources command in egg_info.py(295)run(), run by the egg_info in the build_py class of usr/lib/python3.9/site-packages/setuptools/command/build_py.py. I get there using t

[2021-08-31 14:52] happysmash27 commented on #1689
Upon debugging more, this seems to be an error in yet another invocation of walk_revctrl, in /usr/lib/python3.9/site-packages/setuptools/command/egg_info.py(581)add_defaults():

[code]

Upon going into the function, after the following series of steps:

[code]

ep.load()(dirname) is successful at returning items until... around versioneer.py? Anyway, rather than manually go through all of these ea

[2021-09-12 14:35] successor1 commented on #1733
Click documentation https://click.palletsprojects.com/en/8.0.x/options/

prompt_required=False

If the option has prompt enabled, then setting prompt_required=False tells Click to only show the prompt if the option’s flag is given, instead of if the option is not provided at all.

[code]

[code]

I tried the attempt above, however, i get this error.

[code]

[2021-11-02 17:42] happysmash27 commented on #1689
I've done some more debugging, with a fresh repository, and this time making comments to know what it's doing:

[code]

[2021-11-19 05:55] hohoangtung commented on #1542
[code]

That means lock just supports for lru_cache itself, not supports for user function

[2021-11-24 08:51] #1717 closed, assigned to nobody

[2022-04-27 16:43] cyizard opened #1746 "grpc_proxy attribute error"
i7 4790K 16Mb Ram

Node running and synced
Wallet made
made 100 slaves
then run qrl_grpc_proxy

$ qrl_grpc_proxy
Traceback (most recent call last):
  File "/home/pool/.local/bin/qrl_grpc_proxy", line 5, in <module>
    from qrl.grpcProxy import main
  File "/home/pool/.local/lib/python3.8/site-packages/qrl/grpcProxy.py", line 17, in <module>
    from flask import Flask, Response, request
  File "/

[2022-05-01 05:47] cyyber commented on #1746
Can you please share the following details?
- OS Name & Version
- qrl --version
- pip3 --version

[2022-05-01 12:49] cyizard commented on #1746
Hi cyyber,

thanks for your reply..

I ran this on Mint 20.3 una.  I realize the instructions are for ubuntu 18 and I can certainly switch OS and try again.  I would ultimately like to set this up as a dedicated pool server.
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)
QRL Command Line Interface, version 3.0.1 python

SINCE  I got you.... The bigger issue for me right now is:

g

[2022-05-01 13:20] cyyber commented on #1746
The default cryptonote nodejs pool will not work. We made changes to these pool code to make it compatible with QRL node. Try this repo https://github.com/cyyber/cryptonote-nodejs-pool/#cryptonote-nodejs-pool , it already have qrl.json config https://github.com/cyyber/cryptonote-nodejs-pool/blob/master/config_examples/qrl.json

Please follow this link https://docs.theqrl.org/mining/pool/ to setup

[2022-06-11 16:23] #1746 closed, assigned to nobody

[2022-07-12 22:39] Bitcoiner420 opened #1750 "QRL is a fkn GEM 💎"

[2022-07-13 07:24] #1750 closed, assigned to nobody

[2022-08-13 17:29] tye-mustafa opened #1751 "BlockChain download /sync is slow"
I'm new to crypto and this sync is kind of v slow can we speed this up?
1 sec 3 clocks sync
using WSL latest windows 11
![image](https://user-images.githubusercontent.com/26303106/184504556-75741060-bc6d-4a35-8305-63f30efdad23.png)

[2022-08-13 17:34] jplomas commented on #1751
There are state files available at https://qrl.co.in/chain/ which will speed things up considerably and are provided by a trusted community member.

[Our upcoming Golang node should sync faster…]

[2022-08-13 17:34] #1751 closed, assigned to nobody

[2022-08-26 15:32] 1st commented on #1542
Totally right. It doesn't work like a singleton, but allows the same function to be called for a few times, in a different threads if they started around the same time. Lock is not over the actual function call.